@charset "UTF-8";
body {
  max-width: 1133px;
  margin: 0 auto;
  font-family: ProximaNova, sans-serif;
  font-size: 16px;
  line-height: 1.6; }

* {
  box-sizing: border-box; }

/* The order here is important. Bold styles have to come last */
/* first for IE 4–8 */
@font-face {
  font-family: ProximaNova;
  src: url("../assets/ProximaNova-RegularWeb.eot"); }

/* then for WOFF-capable browsers */
@font-face {
  font-family: ProximaNova;
  src: url("../assets/ProximaNova-RegularWeb.woff") format("woff"); }

/* first for IE 4–8 */
@font-face {
  font-family: ProximaNova;
  src: url("../assets/ProximaNova-BoldWeb.eot");
  font-weight: bold; }

/* then for WOFF-capable browsers */
@font-face {
  font-family: ProximaNova;
  src: url("../assets/ProximaNova-BoldWeb.woff") format("woff");
  font-weight: bold; }

h1 {
  font-size: 32px;
  margin-top: 0.67em;
  margin-bottom: 0.67em; }

h2 {
  font-size: 24px;
  margin-top: 0.83em;
  margin-bottom: 0.83em; }

h3 {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em; }

h4 {
  font-size: 16px;
  margin-top: 1.33em;
  margin-bottom: 1.33em; }

h5 {
  font-size: 13px;
  margin-top: 1.67em;
  margin-bottom: 1.67em; }

h6 {
  font-size: 11px;
  margin-top: 2.33em;
  margin-bottom: 2.33em; }

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: black;
  margin-top: 0em;
  margin-bottom: 0.7em;
  text-align: left; }

strong {
  font-weight: bold; }

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

li {
  display: list-item;
  margin-bottom: 0.7em;
  font-size: 16px; }

h1 > a,
h2 > a,
h3 > a,
h4 > a {
  text-decoration: none;
  color: inherit; }

.not-front .block__content a[href],
.not-front .node__content a[href],
.not-front .taxonomy-term__content a[href],
.not-front .view-content a[href] {
  color: #40769f;
  text-decoration: none; }
  .not-front .block__content a[href]:hover,
  .not-front .node__content a[href]:hover,
  .not-front .taxonomy-term__content a[href]:hover,
  .not-front .view-content a[href]:hover {
    text-decoration: underline; }

.not-front .tagclouds-term a[href] {
  color: #40769f; }

.l-region--atlas,
.l-region--news,
.l-region--misc,
.l-region--products,
.l-region--studies,
.block--views-nefo-view-block-interview-block,
.block--views-nefo-block-press-release-block,
.block--views-nefo-block-article-block {
  position: relative;
  padding-bottom: 40px;
  border-bottom: 2px solid #e5e5e5;
  background-image: linear-gradient(to top, #f3f3f3 0px, rgba(243, 243, 243, 0.01) 40px); }
  .l-region--atlas h2.block__title,
  .l-region--news h2.block__title,
  .l-region--misc h2.block__title,
  .l-region--products h2.block__title,
  .l-region--studies h2.block__title,
  .block--views-nefo-view-block-interview-block h2.block__title,
  .block--views-nefo-block-press-release-block h2.block__title,
  .block--views-nefo-block-article-block h2.block__title {
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: bold;
    display: inline-block;
    background-color: #40769f;
    color: white;
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 20px; }

.nefo-view-block-opinion-title a,
.nefo-view-block-factsheet-title a,
.nefo-view-block-report-title a, .nefo-view-block-opinion-desc a,
.nefo-view-block-factsheet-desc a,
.nefo-view-block-report-desc a {
  text-decoration: none; }

.block--views.block--views-nefo-calendar-event-up .more-link,
.block--views.block--views-nefo-calendar-event-up-ical .more-link, .view-block-news-link-all,
.view-block-newsipbes-link-all, .nefo-view-block-opinion,
.nefo-view-block-factsheet,
.nefo-view-block-report,
.nefo-view-block-opinion-nav,
.nefo-view-block-factsheet-nav,
.nefo-view-block-report-nav, .view-nefo-view-block-study .view-block-study-link-all, .nefo-view-block-literaturtipp-more-link {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

.block--views.block--views-nefo-calendar-event-up .more-link a,
.block--views.block--views-nefo-calendar-event-up-ical .more-link a, .view-block-news-link-all a,
.view-block-newsipbes-link-all a, .nefo-view-block-opinion-link-all a,
.nefo-view-block-factsheet-link-all a,
.nefo-view-block-report-link-all a, .view-nefo-view-block-study .view-block-study-link-all a, .nefo-view-block-press-release-link-all a,
.nefo-view-block-article-link-all a, .nefo-view-block-literaturtipp-more-link a, .nefo-view-block-interview-link-all a, .field--name-field-nefo-interview-category a {
  color: #40769f;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-image: url("../images/arrow-right-more.jpg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px; }

.nefo-view-block-press-release-link,
.nefo-view-block-article-link, .nefo-view-block-interview-link {
  background-color: #7cae4a;
  border-radius: 4px;
  padding: 0.5em 2em; }
  .nefo-view-block-press-release-link > a,
  .nefo-view-block-article-link > a, .nefo-view-block-interview-link > a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle; }

.view-nefo-view-block-study .nefo-view-block-study-row {
  -ms-flex-align: stretch;
      align-items: stretch;
  font-size: 16px;
  line-height: 1.6;
  background-color: #40769f;
  height: 8em;
  padding: 1em; }
  .view-nefo-view-block-study .nefo-view-block-study-row a {
    color: white;
    text-decoration: none; }

.l-page,
.l-header,
.l-main,
.l-footer,
.l-content,
.color-rule {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media (max-width: 539px) {
  .l-header .l-branding {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-header .l-region--header {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both; }
  .l-header .l-region--header-first {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-header .l-region--header-second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-header .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 540px) and (max-width: 979px) {
  .l-header .l-branding {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-header .l-region--header {
    width: 49.58678%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both; }
  .l-header .l-region--header-first {
    width: 49.58678%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-header .l-region--header-second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; }
  .l-header .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both; } }

@media (min-width: 980px) {
  .l-header .l-branding {
    width: 49.38272%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-header .l-region--header {
    width: 24.69136%;
    float: left;
    margin-right: -100%;
    margin-left: 50%;
    clear: none; }
  .l-header .l-region--header-first {
    width: 24.69136%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-header .l-region--header-second {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; }
  .l-header .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both; } }

@media (max-width: 539px) {
  .l-footer .l-region--footer-first,
  .l-footer .l-region--footer-second,
  .l-footer .l-region--footer-third,
  .l-footer .l-region--footer-fourth,
  .l-footer .l-region--footer-fifth,
  .l-footer .l-region--footer-sixth {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 540px) and (max-width: 979px) {
  .l-footer .l-region--footer-first {
    width: 29.41176%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-footer .l-region--footer-second,
  .l-footer .l-region--footer-fifth {
    width: 29.41176%;
    float: left;
    margin-right: -100%;
    margin-left: 35.29412%;
    clear: none; }
  .l-footer .l-region--footer-third,
  .l-footer .l-region--footer-sixth {
    width: 29.41176%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-footer .l-region--footer-fourth {
    width: 29.41176%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both; } }

@media (min-width: 980px) {
  .l-footer .l-region--footer-first {
    width: 16%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-footer .l-region--footer-second {
    width: 16%;
    float: left;
    margin-right: -100%;
    margin-left: 16.8%;
    clear: none; }
  .l-footer .l-region--footer-third {
    width: 16%;
    float: left;
    margin-right: -100%;
    margin-left: 33.6%;
    clear: none; }
  .l-footer .l-region--footer-fourth {
    width: 16%;
    float: left;
    margin-right: -100%;
    margin-left: 50.4%;
    clear: none; }
  .l-footer .l-region--footer-fifth {
    width: 16%;
    float: left;
    margin-right: -100%;
    margin-left: 67.2%;
    clear: none; }
  .l-footer .l-region--footer-sixth {
    width: 16%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.l-header {
  background: #f9f9f9; }
  @media (max-width: 539px) {
    .l-header {
      padding-top: 8px;
      padding-bottom: 8px; }
      .l-header .l-region--header,
      .l-header .l-region--header-first,
      .l-header .l-region--header-second {
        padding-left: 8px; }
      .l-header .l-region--header-first {
        padding-right: 8px; }
      .l-header .l-region--header-second {
        padding-top: 8px; }
      .l-header .l-region--header,
      .l-header .l-region--header-first {
        padding-top: 77px; } }
  @media (min-width: 540px) and (max-width: 979px) {
    .l-header {
      padding-top: 16px;
      padding-bottom: 12px; }
      .l-header .l-region--header,
      .l-header .l-region--header-first,
      .l-header .l-region--header-second {
        padding-left: 10px; }
      .l-header .l-region--header-first {
        padding-right: 20px; }
      .l-header .l-region--header-second {
        padding-top: 10px; } }
  @media (min-width: 980px) {
    .l-header {
      padding-top: 24px; }
      .l-header .l-region--header,
      .l-header .l-region--header-second {
        padding-left: 10px; }
      .l-header .l-region--header-first,
      .l-header .l-region--header-second {
        padding-right: 50px; }
      .l-header .l-region--header-second {
        padding-top: 20px; } }

.l-branding {
  padding: 5px 10px; }
  .l-branding img {
    width: 80%;
    max-width: 450px; }
  @media (max-width: 539px) {
    .l-branding {
      position: fixed;
      background-color: #f9f9f9;
      z-index: 1000000;
      top: 0px;
      padding: 8px 10px; } }
  @media (min-width: 980px) {
    .l-branding {
      padding-left: 100px; } }

@media (max-width: 539px) {
  .l-region--branding {
    display: inline-block;
    float: right; } }

@media (min-width: 540px) and (max-width: 979px) {
  .l-region--branding {
    display: inline-block;
    float: right; } }

@media (min-width: 980px) {
  .l-region--branding {
    display: none; } }

@media (max-width: 539px) {
  .l-region--navigation {
    display: none; } }

@media (min-width: 540px) and (max-width: 979px) {
  .l-region--navigation {
    display: none; } }

@media (min-width: 980px) {
  .l-region--navigation {
    display: block; } }

.l-main {
  margin-bottom: 20px; }

@media (max-width: 539px) {
  .l-content {
    padding: 0 1em; } }

@media (min-width: 540px) and (max-width: 979px) {
  .l-content {
    padding: 0 1em; } }

@media (min-width: 980px) {
  .l-content {
    padding: 0 50px; } }

.file-image {
  margin: 20px 0;
  max-width: 100%; }
  .file-image img {
    padding-bottom: 8px;
    max-width: 100%;
    height: auto; }
  .file-image .field--name-field-image-caption-text > div > div {
    font-size: 12px;
    line-height: 1.2; }
  .file-image .field--name-field-file-image-credit-text > div > div {
    font-size: 12px;
    line-height: 1.2; }

.file-icon {
  padding-right: 4px; }

.nefo-ckeditor-inline-container {
  display: block;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: black;
  text-align: left;
  margin-top: 0em;
  margin-bottom: 0.7em; }
  .nefo-ckeditor-inline-container .media-element-container {
    display: inline; }
    .nefo-ckeditor-inline-container .media-element-container .file-document {
      display: inline; }
      .nefo-ckeditor-inline-container .media-element-container .file-document .content {
        display: inline; }

@media (max-width: 539px) {
  .l-footer {
    padding: 0 1em; }
    .l-footer .l-region--footer-first,
    .l-footer .l-region--footer-second,
    .l-footer .l-region--footer-third,
    .l-footer .l-region--footer-fourth,
    .l-footer .l-region--footer-fifth {
      display: none; } }

@media (min-width: 540px) and (max-width: 979px) {
  .l-footer {
    padding: 0 1em; } }

@media (min-width: 980px) {
  .l-footer {
    padding: 0 50px; } }

.l-region--footer-first h2,
.l-region--footer-second h2,
.l-region--footer-third h2,
.l-region--footer-fourth h2,
.l-region--footer-fifth h2,
.l-region--footer-sixth h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 5px;
  font-weight: bold; }

.l-region--footer-first ul,
.l-region--footer-second ul,
.l-region--footer-third ul,
.l-region--footer-fourth ul,
.l-region--footer-fifth ul,
.l-region--footer-sixth ul {
  padding-left: 0;
  margin-top: 0; }

.l-region--footer-first li,
.l-region--footer-second li,
.l-region--footer-third li,
.l-region--footer-fourth li,
.l-region--footer-fifth li,
.l-region--footer-sixth li {
  overflow-x: hidden;
  padding-bottom: 5px;
  margin-bottom: 0; }

.l-region--footer-first a,
.l-region--footer-second a,
.l-region--footer-third a,
.l-region--footer-fourth a,
.l-region--footer-fifth a,
.l-region--footer-sixth a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4279a3;
  font-size: 12px;
  font-weight: bold; }

.color-rule {
  height: 3px;
  background-image: linear-gradient(to right, #4291a3 0%, #437eb6 30%, #accc44 60%, #7eb24b 100%); }

#block-shariff-shariff-block {
  background-image: none;
  border-bottom: none;
  padding: 20px 0; }
  #block-shariff-shariff-block a {
    color: white; }

#block-nefo-blocks-builder-nefo-social-links {
  position: relative;
  top: 0px;
  display: inline;
  float: right; }
  #block-nefo-blocks-builder-nefo-social-links ul.nefo-social-links-navigation {
    float: right;
    width: 80px;
    padding: 0;
    margin: 2px 0 0;
    overflow: hidden;
    list-style: none;
    line-height: 1; }
    #block-nefo-blocks-builder-nefo-social-links ul.nefo-social-links-navigation li {
      float: right;
      padding: 0;
      margin: 0 0 0 3px; }

.nefo-footer-banner {
  margin: 20px 0; }
  .nefo-footer-banner .nefo-footer-banner-col {
    float: left;
    width: 25%;
    margin: auto;
    padding: 0;
    color: #575656;
    text-transform: uppercase;
    height: 34px; }
    @media (max-width: 539px) {
      .nefo-footer-banner .nefo-footer-banner-col {
        width: 50%; } }
  .nefo-footer-banner .nefo-footer-banner-col1 {
    position: relative;
    background-image: url("../images/icons/publikationen.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 32px;
    height: 100%; }
  .nefo-footer-banner .nefo-footer-banner-col2 {
    background-image: url("../images/icons/workshops.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 32px;
    height: 100%; }
  .nefo-footer-banner .nefo-footer-banner-col3 {
    background-image: url("../images/icons/newsletter.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 30px;
    height: 100%; }
  .nefo-footer-banner .nefo-footer-banner-col4 {
    background-image: url("../images/icons/blog.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 32px;
    height: 100%; }
  .nefo-footer-banner .nefo-footer-banner-col-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: transparent; }
  .nefo-footer-banner a {
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    padding-left: 34px;
    vertical-align: middle; }
    @media (min-width: 980px) {
      .nefo-footer-banner a {
        font-size: 14px; } }
    .nefo-footer-banner a:hover {
      color: inherit; }
    .nefo-footer-banner a:visited {
      color: inherit; }
  .nefo-footer-banner::after {
    clear: both;
    content: "";
    display: table; }

.block--views.block--views-nefo-calendar-event-up,
.block--views.block--views-nefo-calendar-event-up-ical {
  position: relative; }
  .block--views.block--views-nefo-calendar-event-up h2,
  .block--views.block--views-nefo-calendar-event-up-ical h2 {
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: bold;
    display: inline-block;
    background-color: #40769f;
    color: white;
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 20px; }
  .block--views.block--views-nefo-calendar-event-up ul,
  .block--views.block--views-nefo-calendar-event-up-ical ul {
    list-style-type: none;
    padding: 0px; }
    .block--views.block--views-nefo-calendar-event-up ul .nefo-event--heading,
    .block--views.block--views-nefo-calendar-event-up-ical ul .nefo-event--heading {
      font-weight: bold;
      background-color: #7cae4a;
      padding-top: .7em;
      padding-bottom: .7em;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 28px 28px; }
      .block--views.block--views-nefo-calendar-event-up ul .nefo-event--heading > a,
      .block--views.block--views-nefo-calendar-event-up-ical ul .nefo-event--heading > a {
        color: white;
        text-decoration: none; }
    .block--views.block--views-nefo-calendar-event-up ul .nefo-event--date,
    .block--views.block--views-nefo-calendar-event-up-ical ul .nefo-event--date {
      display: inline-block;
      margin-right: 5px; }
    .block--views.block--views-nefo-calendar-event-up ul .nefo-event--location,
    .block--views.block--views-nefo-calendar-event-up-ical ul .nefo-event--location {
      display: inline-block;
      margin-left: 5px; }
    .block--views.block--views-nefo-calendar-event-up ul .nefo-event--title a,
    .block--views.block--views-nefo-calendar-event-up-ical ul .nefo-event--title a {
      text-decoration: none;
      color: #575656; }
    .block--views.block--views-nefo-calendar-event-up ul .nefo-event--title a:visited,
    .block--views.block--views-nefo-calendar-event-up-ical ul .nefo-event--title a:visited {
      color: #575656; }
  .block--views.block--views-nefo-calendar-event-up .nefo-event--heading,
  .block--views.block--views-nefo-calendar-event-up .nefo-event--title,
  .block--views.block--views-nefo-calendar-event-up-ical .nefo-event--heading,
  .block--views.block--views-nefo-calendar-event-up-ical .nefo-event--title {
    padding: 10px; }
  .block--views.block--views-nefo-calendar-event-up .more-link,
  .block--views.block--views-nefo-calendar-event-up-ical .more-link {
    text-align: right; }
  .block--views.block--views-nefo-calendar-event-up .view-content,
  .block--views.block--views-nefo-calendar-event-up-ical .view-content {
    border-bottom: #e0e0e0 1px solid; }

#block-views-nefo-calendar-event-up-ical {
  float: none; }

.page-events .l-main {
  padding-left: 1rem;
  padding-right: 1rem; }

.page-events .view-display-id-nefo_events_all .views-row {
  margin-bottom: 1rem; }

.page-events .view-display-id-nefo_events_all .nefo-event--category {
  font-size: 0.8rem;
  color: gray; }

@media (min-width: 540px) and (max-width: 979px) {
  .page-events .view-display-id-nefo_events_all .views-row {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .page-events .view-display-id-nefo_events_all .nefo-event--date {
    width: 27.77778%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .page-events .view-display-id-nefo_events_all .nefo-event--content {
    width: 69.44444%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.page-node.node-type-nefo-event .field {
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 540px) and (max-width: 979px) {
    .page-node.node-type-nefo-event .field {
      padding-left: 0;
      padding-right: 0; } }

#block-menu-menu-nefo-login-menu {
  display: inline-block; }

.block--menu-menu-nefo-login-menu {
  background-image: url("../images/icons/login.png");
  background-repeat: no-repeat;
  background-position: left 6px;
  background-size: 15px 15px;
  color: #7fb24c;
  float: left; }
  .block--menu-menu-nefo-login-menu ul.menu {
    margin-top: 0;
    padding-left: 0; }
    .block--menu-menu-nefo-login-menu ul.menu li {
      padding-top: 3px;
      line-height: initial;
      overflow: hidden; }
  .block--menu-menu-nefo-login-menu a {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    margin-left: 17px; }
    .block--menu-menu-nefo-login-menu a:hover {
      color: inherit; }
    .block--menu-menu-nefo-login-menu a:visited {
      color: inherit; }

.l-region--news img {
  max-width: 100%;
  height: auto; }

.nefo-view-block-news-title,
.nefo-view-block-news-desc {
  margin: 0 10px; }
  @media (min-width: 540px) and (max-width: 979px) {
    .nefo-view-block-news-title,
    .nefo-view-block-news-desc {
      margin: 0; } }

.nefo-view-block-news-desc {
  padding-top: 10px; }
  .nefo-view-block-news-desc p {
    font-size: 16px;
    line-height: 1.6; }

.nefo-view-block-news-title {
  height: 6em; }
  .nefo-view-block-news-title a {
    color: #40769f;
    text-decoration: none; }

.view-block-news-link-all,
.view-block-newsipbes-link-all {
  text-align: right; }

.view-nefo-view-block-news {
  margin-top: 20px; }
  .view-nefo-view-block-news .view-content::after {
    clear: both;
    content: "";
    display: table; }

.view-nefo-view-block-newsipbes {
  margin-top: 20px; }
  .view-nefo-view-block-newsipbes .view-content {
    border-bottom: #e0e0e0 1px solid; }

.nefo-view-block-newsipbes-row {
  margin: 0 10px;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 1em; }
  @media (min-width: 540px) and (max-width: 979px) {
    .nefo-view-block-newsipbes-row {
      margin: 0; } }
  .nefo-view-block-newsipbes-row a {
    color: #40769f;
    text-decoration: none; }

.node--nefo-news .node__submitted,
.node--nefo-news .field--name-field-nefo-news-category,
.node--nefo-news .field--name-body,
.node--nefo-news .field--name-field-nefo-target-url {
  padding-left: 1rem;
  padding-right: 1rem; }
  @media (min-width: 540px) and (max-width: 979px) {
    .node--nefo-news .node__submitted,
    .node--nefo-news .field--name-field-nefo-news-category,
    .node--nefo-news .field--name-body,
    .node--nefo-news .field--name-field-nefo-target-url {
      padding-left: 0;
      padding-right: 0; } }

ul.pager .pager__item {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  margin: 0;
  background-color: white; }

ul.pager .pager__item:last-child {
  border-right: 1px solid lightgrey;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

ul.pager .pager__item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

ul.pager .pager__item--current,
ul.pager .pager__item--previous,
ul.pager .pager__item--next {
  background-color: #a9c041; }

ul.pager .pager__item--previous,
ul.pager .pager__item--next,
ul.pager .pager__item--first,
ul.pager .pager__item--last {
  width: inherit; }

ul.pager .pager__item--current {
  vertical-align: top;
  line-height: 20px; }

ul.pager .pager__item a {
  vertical-align: top;
  line-height: 20px;
  text-decoration: none; }

ul.pager .pager__item a {
  color: #575656; }

ul.pager .pager__item--next a,
ul.pager .pager__item--previous a,
ul.pager .pager__item--current {
  color: white; }

.block-products-heading {
  margin-bottom: 10px; }
  .block-products-heading h2 {
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: bold;
    display: inline-block;
    background-color: #40769f;
    color: white;
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 20px; }

.nefo-view-block-opinion-row,
.nefo-view-block-factsheet-row,
.nefo-view-block-report-row {
  position: relative;
  overflow: hidden;
  margin-top: 20px; }

.nefo-view-block-opinion-img,
.nefo-view-block-factsheet-img,
.nefo-view-block-report-img {
  position: relative; }
  .nefo-view-block-opinion-img::after,
  .nefo-view-block-factsheet-img::after,
  .nefo-view-block-report-img::after {
    content: " ";
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, black);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1; }

.nefo-view-block-opinion-text,
.nefo-view-block-factsheet-text,
.nefo-view-block-report-text {
  position: absolute;
  top: 50px;
  z-index: 2;
  padding: 0 10px; }

.nefo-view-block-opinion-title a,
.nefo-view-block-factsheet-title a,
.nefo-view-block-report-title a {
  font-size: 20px;
  font-weight: bold;
  color: white; }

.nefo-view-block-opinion-desc,
.nefo-view-block-factsheet-desc,
.nefo-view-block-report-desc {
  padding: 0; }
  .nefo-view-block-opinion-desc a,
  .nefo-view-block-factsheet-desc a,
  .nefo-view-block-report-desc a {
    color: white;
    font-size: 16px; }

.nefo-view-block-opinion,
.nefo-view-block-factsheet,
.nefo-view-block-report,
.nefo-view-block-opinion-nav,
.nefo-view-block-factsheet-nav,
.nefo-view-block-report-nav {
  display: inline-block; }

.nefo-view-block-opinion,
.nefo-view-block-factsheet,
.nefo-view-block-report {
  text-transform: uppercase;
  padding-right: 0; }

.nefo-view-block-opinion-nav,
.nefo-view-block-factsheet-nav,
.nefo-view-block-report-nav {
  float: right;
  padding-top: 12px;
  padding-left: 0; }

.block--views-nefo-view-block-opinion-block,
.block--views-nefo-view-block-factsheet-block,
.block--views-nefo-view-block-report-block {
  border-bottom: 4px solid #7cae4a; }
  .block--views-nefo-view-block-opinion-block h2,
  .block--views-nefo-view-block-factsheet-block h2,
  .block--views-nefo-view-block-report-block h2 {
    margin-bottom: 20px; }

.view-nefo-view-block-study {
  margin-top: 20px; }
  .view-nefo-view-block-study .nefo-view-block-study-row {
    margin-bottom: 10px; }
    @media (min-width: 540px) and (max-width: 979px) {
      .view-nefo-view-block-study .nefo-view-block-study-row {
        margin-bottom: 0; } }
  .view-nefo-view-block-study .nefo-view-block-study-title {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .view-nefo-view-block-study .view-footer {
    clear: both; }
  .view-nefo-view-block-study .view-block-study-link-all {
    float: right; }

.nefo-view-block-press-release-img img,
.nefo-view-block-article-img img {
  width: 100%;
  height: auto; }

.nefo-view-block-press-release-link-all,
.nefo-view-block-article-link-all {
  float: right; }
  .nefo-view-block-press-release-link-all a,
  .nefo-view-block-article-link-all a {
    vertical-align: middle; }

.nefo-view-block-press-release-col2,
.nefo-view-block-article-col2 {
  margin: 0 10px; }
  @media (min-width: 540px) and (max-width: 979px) {
    .nefo-view-block-press-release-col2,
    .nefo-view-block-article-col2 {
      margin: 0; } }

.nefo-view-block-press-release-title a,
.nefo-view-block-article-title a {
  color: #40769f;
  text-decoration: none; }

.nefo-view-list-opinion-row,
.nefo-view-list-factsheet-row,
.nefo-view-list-study-row,
.nefo-view-list-workshop-row,
.nefo-view-list-report-row,
.nefo-view-list-product-row {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0; }

.nefo-view-list-opinion-title,
.nefo-view-list-factsheet-title,
.nefo-view-list-study-title,
.nefo-view-list-workshop-title,
.nefo-view-list-report-title,
.nefo-view-list-product-title {
  font-size: 16px;
  line-height: 1.6; }

.nefo-view-list-opinion-desc,
.nefo-view-block-factsheet-desc,
.nefo-view-list-study-desc,
.nefo-view-list-workshop-desc,
.nefo-view-list-report-desc {
  font-size: 14px;
  line-height: 1.4;
  text-align: left; }

.nefo-view-list-product-row {
  margin-bottom: 2em; }

.nefo-view-list-product-title,
.nefo-view-list-product-icon,
.nefo-view-list-product-date,
.nefo-product-icon {
  vertical-align: middle; }

.nefo-view-list-product-icon {
  padding: 0 8px; }

.nefo-view-list-product-date {
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap; }

.nefo-product-icon {
  width: 50px;
  height: 50px; }
  @media (max-width: 539px) {
    .nefo-product-icon {
      width: 25px;
      height: 25px; } }

.nefo-view-list-news-row,
.nefo-view-list-article-row,
.nefo-view-list-press-release-row {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #e0e0e0;
  clear: both; }

@media (min-width: 980px) {
  .block--views-nefo-block-press-release-block,
  .block--views-nefo-block-article-block {
    clear: both; }
  .view-nefo-block-press-release,
  .view-nefo-block-article {
    margin-top: 20px; }
  .nefo-view-block-press-release-col1,
  .nefo-view-block-article-col1 {
    float: left; }
  .nefo-view-block-press-release-col2,
  .nefo-view-block-article-col2 {
    margin-left: 450px; }
  .nefo-view-block-press-release-link-all,
  .nefo-view-block-article-link-all {
    padding-left: 2em;
    float: none; }
  .nefo-view-block-press-release-img-credit,
  .nefo-view-block-article-img-credit {
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold; }
  .nefo-view-block-press-release-nav,
  .nefo-view-block-article-nav {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .nefo-view-list-news-content,
  .nefo-view-list-article-content,
  .nefo-view-list-press-release-content {
    clear: both;
    overflow: hidden; }
  .nefo-view-list-news-link,
  .nefo-view-list-article-link,
  .nefo-view-list-press-release-link {
    font-size: 16px;
    line-height: 1.6; }
  .nefo-view-list-news-img,
  .nefo-view-list-article-img,
  .nefo-view-list-press-release-img {
    margin-bottom: 8px; }
  .nefo-view-list-news-img-caption,
  .nefo-view-list-article-img-caption,
  .nefo-view-list-press-release-img-caption {
    font-size: 12px;
    line-height: 1.2; }
  .nefo-view-list-news-img-credit,
  .nefo-view-list-article-img-credit,
  .nefo-view-list-press-release-img-credit {
    font-size: 12px;
    line-height: 1.2; }
  .nefo-view-list-news-col2,
  .nefo-view-list-article-col2,
  .nefo-view-list-press-release-col2 {
    width: 120px;
    float: right; }
  .nefo-view-list-news-col1,
  .nefo-view-list-article-col1,
  .nefo-view-list-press-release-col1 {
    margin-right: 130px; }
  .nefo-view-list-news-date,
  .nefo-view-list-article-date,
  .nefo-view-list-press-release-date {
    margin-bottom: 1em;
    font-size: 14px;
    line-height: 1.4; }
  .nefo-view-list-news-category {
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 1em; } }

.nefo-view-list-literature-tip-row {
  padding-top: 2em;
  padding-bottom: 4em;
  margin-left: 0;
  margin-right: 0;
  min-height: 300px;
  border-bottom: 2px solid #e0e0e0;
  clear: both; }

.nefo-view-list-literature-tip-col1 {
  width: 150px;
  float: left; }

.nefo-view-list-literature-tip-col2 {
  margin-left: 160px;
  width: auto; }

.nefo-view-list-literature-tip-title,
.nefo-view-list-literature-tip-desc {
  padding-left: 1em; }

.nefo-view-list-literature-tip-img {
  box-shadow: 8px 8px 4px #888; }

.nefo-view-list-literature-tip-img img {
  max-height: 212px; }

.nefo-view-list-literature-tip-link {
  font-size: 16px;
  line-height: 1.6;
  padding-left: 1em; }

.nefo-view-list-literature-tip-date {
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 1.4; }

.nefo-view-block-literaturtipp-img {
  padding-bottom: 2rem;
  border-bottom: #e0e0e0 1px solid; }

.nefo-view-block-literaturtipp-more-link {
  text-align: right; }

.tagclouds-term {
  padding: 1em 1em;
  vertical-align: baseline;
  line-height: 2; }

.block--tagclouds {
  text-align: center; }

.nefo-pdf-icon {
  padding-left: 8px; }

#block-search-form {
  display: inline-block;
  float: right; }

#block-search-form .content {
  margin-top: 0; }

#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left;
  /* LTR */
  font-size: 1em;
  width: 9em; }
  @media (max-width: 539px) {
    #search-form input#edit-keys,
    #block-search-form .form-item-search-block-form input {
      width: 100px; } }

#search-block-form input.form-text,
#search-form input.form-text {
  margin: 0;
  border: none;
  height: 25px; }

#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border: none;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden; }
  #search-block-form input.form-submit:hover, #search-block-form input.form-submit:focus,
  #search-form input.form-submit:hover,
  #search-form input.form-submit:focus {
    background-position: center bottom; }

#search-form .form-item-keys label {
  display: block; }

.search-result h3 a {
  color: #5091c7; }
  .search-result h3 a:hover {
    text-decoration: underline; }

#block-superfish-2 ul.menu li {
  display: inline;
  margin-right: 1em; }
  #block-superfish-2 ul.menu li a {
    color: #4279a3;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none; }

@media (max-width: 539px) {
  #block-superfish-2 ul.menu li:nth-child(3) {
    display: none; } }

#block-nefo-blocks-builder-nefo-language-switch {
  display: inline-block;
  vertical-align: top;
  padding-top: 2px; }
  @media (max-width: 539px) {
    #block-nefo-blocks-builder-nefo-language-switch {
      margin-left: 16px; } }
  @media (min-width: 540px) and (max-width: 979px) {
    #block-nefo-blocks-builder-nefo-language-switch {
      margin-left: 100px; } }
  @media (min-width: 980px) {
    #block-nefo-blocks-builder-nefo-language-switch {
      margin-left: 50px; } }
  #block-nefo-blocks-builder-nefo-language-switch ul.menu {
    margin: 0;
    padding: 0; }
    #block-nefo-blocks-builder-nefo-language-switch ul.menu li {
      display: inline;
      margin: 0;
      padding: 0; }
      #block-nefo-blocks-builder-nefo-language-switch ul.menu li a {
        color: #4279a3;
        font-size: 14px;
        font-weight: normal;
        text-decoration: none; }

#sidr-0-button {
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
  background-color: #5295CC; }
  @media (max-width: 539px) {
    #sidr-0-button {
      margin-right: 8px;
      padding: 4px 8px;
      border-radius: 4px; } }
  @media (min-width: 540px) and (max-width: 979px) {
    #sidr-0-button {
      margin-right: 20px;
      padding: 6px 12px;
      border-radius: 6px; } }

.sidr {
  color: #FFF;
  background-color: #5295CC;
  font-weight: bold;
  font-size: 1.0em;
  box-shadow: inset 0 0 5px 5px #5295CC;
  font-family: ProximaNova, sans-serif; }
  .sidr ul {
    border-top: 1px solid #7cae4a;
    border-bottom: 1px solid #A9C041; }
    .sidr ul li {
      border-top: 1px solid #A9C041;
      border-bottom: 1px solid #7cae4a; }
      .sidr ul li a,
      .sidr ul li span,
      .sidr ul li ul li a,
      .sidr ul li ul li span {
        color: #FFF;
        background-color: #5295CC; }
      .sidr ul li:hover > a,
      .sidr ul li ul li:hover > a {
        color: #FFF;
        background-color: #A9C041;
        box-shadow: inset 0 0 15px 3px #7cae4a; }
  @media (max-width: 539px) {
    .sidr {
      width: 100%;
      top: 74px; } }

@media (min-width: 980px) {
  .tb-megamenu {
    background-color: #5295CC;
    border-bottom: 3px solid #A9C041; } }

.tb-megamenu .nav-collapse > .nav > li {
  background-color: #5295CC;
  margin-bottom: 0; }
  .tb-megamenu .nav-collapse > .nav > li > a {
    border-color: #5295CC;
    color: #FFF;
    text-decoration: none; }
    .tb-megamenu .nav-collapse > .nav > li > a:hover, .tb-megamenu .nav-collapse > .nav > li > a:focus {
      color: #FFF;
      text-decoration: underline;
      border-color: #B9CC66;
      background-color: #B9CC66; }

.tb-megamenu .nav-collapse > .nav li.active > a {
  background-color: #A9C041;
  border-color: #A9C041; }
  .tb-megamenu .nav-collapse > .nav li.active > a:hover, .tb-megamenu .nav-collapse > .nav li.active > a:focus {
    color: #FFF;
    background-color: #A9C041;
    border-color: #A9C041; }

.tb-megamenu .btn-navbar {
  margin-bottom: 0;
  width: 50px;
  height: 40px;
  color: #A9C041; }

.tb-megamenu .btn {
  font-size: 16px;
  line-height: 18px; }

@media (min-width: 540px) and (max-width: 979px) {
  .tb-megamenu .btn-navbar {
    width: 50px;
    height: 50px; }
  .tb-megamenu .btn {
    font-size: 24px;
    line-height: 24px; } }

.tb-megamenu .dropdown-menu {
  background-color: #A9C041;
  border-bottom: 3px solid #A9C041; }
  .tb-megamenu .dropdown-menu li > a {
    color: #FFF !important;
    text-decoration: none;
    background-color: #A9C041;
    border-top: 1px solid #7cae4a; }
    .tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
      color: #FFF;
      background-color: inherit;
      text-decoration: underline; }
  .tb-megamenu .dropdown-menu .active > a {
    background-image: none;
    background-color: #A9C041; }
    .tb-megamenu .dropdown-menu .active > a:hover, .tb-megamenu .dropdown-menu .active > a:focus {
      color: #FFF;
      background-image: none;
      background-color: inherit; }

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  color: #FFF;
  background-color: #B9CC66;
  border-color: #A9C041; }

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #A9C041;
  color: #FFF;
  border-color: #A9C041; }

.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  background-color: #A9C041;
  border-color: #A9C041; }

.tb-megamenu ul.level-0 li:nth-child(5),
.tb-megamenu ul.level-0 li:nth-child(6) {
  background-color: #FFF; }
  .tb-megamenu ul.level-0 li:nth-child(5) a,
  .tb-megamenu ul.level-0 li:nth-child(6) a {
    color: #5295CC;
    border-color: #FFF; }

.tb-megamenu ul.tb-megamenu-subnav .nav-child li {
  background-color: #A9C041; }
  .tb-megamenu ul.tb-megamenu-subnav .nav-child li a {
    border-color: #7cae4a; }

.block--views-nefo-view-block-interview-block {
  clear: both; }

.nefo-view-block-interview-img img {
  width: 100%;
  height: auto; }

.nefo-view-block-interview-img-credit {
  padding-top: 4px;
  font-size: 12px;
  font-weight: bold; }

.nefo-view-block-interview-link-all {
  float: right; }
  .nefo-view-block-interview-link-all a {
    vertical-align: middle; }

.nefo-view-block-interview-col2 {
  margin: 0 10px; }

.nefo-view-block-interview-title {
  margin-bottom: 0.5em; }
  .nefo-view-block-interview-title a {
    color: #40769f;
    text-decoration: none; }

.nefo-view-block-interview-quotation {
  margin-bottom: 0.5em; }
  .nefo-view-block-interview-quotation a {
    color: #40769f;
    text-decoration: none; }

.nefo-view-list-interview-row {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #e0e0e0;
  clear: both; }

.field--name-field-nefo-interview-category a {
  vertical-align: middle;
  font-size: 16px; }

.nefo-product-interview-page-title {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em; }

.nefo-view-block-interview-with,
.nefo-view-list-interview-with {
  font-size: 14px;
  line-height: 1.4; }

.field--name-field-nefo-interview-thema {
  font-size: 32px;
  margin-top: 0.67em;
  margin-bottom: 0.67em; }

.nefo-view-list-interview-img-caption {
  font-size: 12px;
  line-height: 1.2; }

.nefo-view-list-interview-img-credit {
  font-size: 12px;
  line-height: 1.2; }

.nefo-view-list-interview-link {
  font-size: 16px;
  line-height: 1.6; }

.nefo-view-list-interview-col1 {
  margin-top: 8px; }

@media (min-width: 540px) and (max-width: 979px) {
  .nefo-view-block-interview-img img {
    width: 250px; }
  .nefo-view-block-interview-col1 {
    float: left; }
  .nefo-view-block-interview-col2 {
    margin-left: 260px; }
  .nefo-view-block-interview-nav {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .nefo-view-block-interview-link-all {
    padding-left: 2em;
    float: none; } }

@media (min-width: 980px) {
  .nefo-view-block-interview-col1 {
    float: left; }
  .nefo-view-block-interview-col2 {
    margin-left: 450px; }
  .nefo-view-block-interview-nav {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .nefo-view-block-interview-link-all {
    padding-left: 1em;
    float: none; }
  .nefo-view-list-interview-content {
    clear: both;
    overflow: hidden; }
  .nefo-view-list-interview-img {
    margin-bottom: 8px; }
  .nefo-view-list-interview-col1 {
    margin-right: 130px;
    margin-top: 0; }
  .nefo-view-list-interview-col2 {
    width: 120px;
    float: right; } }
