@include add-grid(1);
@include add-grid(8 4 at $tab);
@include add-grid(8 4 at $desk);
@include add-gutter(.2);

// top level containers
.l-page,
.l-header,
.l-main,
.l-footer,
.l-content,
.l-region--navigation,
.block--superfish,
.l-region--highlighted,
.l-region--featured,
.l-region--slider,
.l-region--atlas,
.l-region--news,
.l-region--products,
.l-region--misc,
.l-region--studies,
.l-region--interviews,
.color-rule {
  @include grid-span(1,1);
  //@include clearfix;
}


@include breakpoint($tab, true) {
  .l-header {
     @include grid-span(2, 1);
  }
  @include layout($grid: 2 1, $gutter: .1) {
    .l-branding {
      @include grid-span(1, 1);
    }
  }
  .l-region--header {
    @include grid-span(2, 1);
    clear: both;
  }
  .l-region--navigation {
    @include grid-span(2, 1);
    clear: both;
  }
}

@include breakpoint($desk, true) {
  .l-header {
     @include grid-span(2, 1);
  }
  @include layout($grid: 1 1, $gutter: .1) {
    .l-branding {
      @include grid-span(1, 1);
    }
    .l-region--header {
      @include grid-span(1, 2);
      clear: none;
    }
    .l-region--navigation {
      @include grid-span(2, 1);
      clear: both;
    }
  }
}


// Content
.l-content {
  @include breakpoint($tab) {
    padding: 0 8px;
  }
  @include breakpoint($desk) {
    padding: 0 $content-padding;
  }
}


// News
@for $i from 1 through 3 {
  .nefo-view-block-news-row:nth-of-type(#{$i}) {
    @include grid-span(1, 1)
  }
}
@include breakpoint($tab, true) {
  @include layout(3) {
    @for $i from 1 through 3 {
      .nefo-view-block-news-row:nth-of-type(#{$i}) {
        @include grid-span(1, $i)
      }
    }
  }
}

// Products
@include breakpoint($tab, true) {
  @include layout(3, 0.1) {
    #block-views-nefo-view-block-opinion-block {
      @include grid-span(1, 1);
    }
    #block-views-nefo-view-block-factsheet-block {
      @include grid-span(1, 2);
    }
    #block-views-nefo-view-block-report-block {
      @include grid-span(1, 3);
    }
  }
}

// Miscellaneous (Events and News)
@include breakpoint($tab, true) {
  @include layout(2) {
    #block-views-nefo-calendar-event-up {
      @include grid-span(1, 1);
    }
    #block-views-nefo-view-block-newsipbes-block {
      @include grid-span(1, 2);
    }   
  }
}

// Studies
@include breakpoint($tab, true) {
  @include layout(4) {
    @for $i from 1 through 4 {
      .nefo-view-block-study-row:nth-of-type(#{$i}) {
          @include grid-span(1, $i)
      }
    }
  }
}

// Footer
@include breakpoint($tab, true) {
  @include layout(3) {
    .l-region--footer-first {
      @include grid-span(1, 1);
    }
    .l-region--footer-second,
    .l-region--footer-fifth {
      @include grid-span(1, 2);
    }
    .l-region--footer-third,
    .l-region--footer-sixth {
      @include grid-span(1, 3);      
    }
    .l-region--footer-fourth {
      @include grid-span(1, 1);
      clear:both;
    }
  }
}
@include breakpoint($desk, true) {
  @include layout(6) {
    @include layout($gutter: .05) {
      .l-region--footer-first {
        @include grid-span(1, 1);
      }
      .l-region--footer-second {
        @include grid-span(1, 2);
      }
      .l-region--footer-third {
        @include grid-span(1, 3);
      }
      .l-region--footer-fourth {
        @include grid-span(1, 4);
      }
      .l-region--footer-fifth {
        @include grid-span(1, 5);
      }
      .l-region--footer-sixth {
        @include grid-span(1, 6);
      }
    }
  }
}



