@include add-grid(12);
@include add-gutter(.1);

.l-page,
.l-header,
.l-main,
.l-footer,
.l-content,
.l-region--navigation,
.l-region--misc,
.l-region--studies,
.l-region--news,
.l-region--products,
.color-rule {
  @include grid-span(12, 1);
}

.l-header,
.l-main,
.l-footer,
.color-rule {
  clear: both;
}

.l-branding {
  @include grid-span(5, 1);
}

.l-region--header {
  @include grid-span(7, 6);
}

.l-region--navigation {
  clear:both;
}

.l-main {
  padding: 0 50px;
}

.block--views-events-block {
  @include grid-span(4, 1);
}
.block--views-nefo-view-block-newsipbes-block {
  @include grid-span(4, 5);
}
// TODO change class name of block bio-div-news
.block--views-a6a217d58919eaa51b43af13b76ffc5e {
  @include grid-span(4, 9);
}

#block-views-nefo-view-block-opinion-block {
  @include grid-span(4, 1);
}
#block-views-nefo-view-block-factsheet-block {
  @include grid-span(4, 5);
}
#block-views-nefo-view-block-report-block {
  @include grid-span(4, 9);
}

@include layout($gutter: 0.35) {
  .l-region--footer-first {
    @include grid-span(2, 1);
  }

  .l-region--footer-second {
    @include grid-span(2, 3);
  }

  .l-region--footer-third {
    @include grid-span(2, 5);
  }

  .l-region--footer-fourth {
    @include grid-span(2, 7);
  }

  .l-region--footer-fifth {
    @include grid-span(2, 9);
  }

  .l-region--footer-sixth {
    @include grid-span(2, 11);
  }
}