// Global
$mobile: 20em;
$tab: 44em;
$desk: 70em;

@include add-grid(3);
@include add-gutter(0.15);

// top level containers
.l-page,
.l-header,
.l-main,
.l-footer,
.l-content,
.l-region--navigation,
.l-region--highlighted,
.l-region--featured,
.l-region--slider,
.l-region--atlas,
.l-region--news,
.l-region--products,
.l-region--misc,
.l-region--studies,
.l-region--interviews,
.block--block-1,
.color-rule {
  @include grid-span(3, 1);
}

.l-header,
.l-main,
.l-footer,
.color-rule {
  clear: both;
}

.l-branding {
  @include grid-span(1, 1);
}

.l-region--header {
  @include grid-span(2, 2);
}

.l-region--navigation {
  clear:both;
}

.block--superfish {
    @include grid-span(3, 1);
}

.l-main {
  padding: 0 50px;
}

@include layout(3 2) {
  .view-view-researcher-profile {
    @include grid-span(1, 1);
  }

  .feature-block {
    @include grid-span(1,2);
  }
}



// Slider
// Mobile first
@include layout($grid:1, $gutter: 0.1) {
    .l-region--slider {
        @include grid-span(1, 1);
    }
}

// News
// Mobile first
@include layout($grid:1, $gutter: 0.1) {
    @for $i from 1 through 3 {
          .nefo-view-block-news-row:nth-of-type(#{$i}) {
            @include grid-span(1, 1)
          }
    }
}
@include breakpoint($desk, true) {
    @include layout($grid:3, $gutter: 0.1) {
        @for $i from 1 through 3 {
          .nefo-view-block-news-row:nth-of-type(#{$i}) {
            @include grid-span(1, $i)
          }
        }
    }
}

// Products
// Mobile first
@include layout($grid:1, $gutter: 0.1) {
        #block-views-nefo-view-block-opinion-block,
        #block-views-nefo-view-block-factsheet-block,
        #block-views-nefo-view-block-report-block {
          @include grid-span(1, 1);
        }
}
@include breakpoint($desk, true) {
    @include layout($grid:3, $gutter: 0.1) {
        #block-views-nefo-view-block-opinion-block {
          @include grid-span(1, 1);
        }
        #block-views-nefo-view-block-factsheet-block {
          @include grid-span(1, 2);
        }
        #block-views-nefo-view-block-report-block {
          @include grid-span(1, 3);
        }
    }
}

// Miscellaneous (Events and News)
// Mobile first
@include layout($grid:1, $gutter: 0.1) {
        // TODO: check ID name of events block 
        #block--views-events-block, 
        #block-views-nefo-view-block-newsipbes-block {
          @include grid-span(1, 1);
        }
}
@include breakpoint($desk, true) {
    @include layout($grid:2, $gutter: 0.1) {
         // TODO: check ID name of events block 
        #block--views-events-block {
          @include grid-span(1, 1);
        }
        #block-views-nefo-view-block-newsipbes-block {
          @include grid-span(1, 2);
        }   
    }
}

// Studies
// Mobile first
@include layout($grid:1, $gutter: 0.1) {
    @for $i from 1 through 4 {
          .nefo-view-block-study-row:nth-of-type(#{$i}) {
            @include grid-span(1, 1)
          }
    }
}
@include breakpoint($desk, true) {
    @include layout($grid:4, $gutter: 0.1) {
        @for $i from 1 through 4 {
          .nefo-view-block-study-row:nth-of-type(#{$i}) {
            @include grid-span(1, $i)
          }
        }
    }
}


// Interviews
@include layout($grid:1, $gutter: 0.1) {
    .l-region--interviews {
        @include grid-span(1, 1);
    }
}

// Footer
// Mobile first
@include layout($grid:1, $gutter: 0.1) {
      .l-region--footer-first,
      .l-region--footer-second,
      .l-region--footer-third,
      .l-region--footer-fourth,
      .l-region--footer-fifth,
      .l-region--footer-sixth {
        @include grid-span(1, 1);
      }
}
@include breakpoint($tab, true) {
    @include layout($grid:2, $gutter: 0.1) {
      .l-region--footer-first {
        @include grid-span(1, 1);
      }
      .l-region--footer-third,
      .l-region--footer-fifth {
        @include grid-span(1, 1);
        clear:both;
      }
      .l-region--footer-second,
      .l-region--footer-fourth,
      .l-region--footer-sixth {
        @include grid-span(1, 2);
      }
    }
}
@include breakpoint($desk, true) {
    @include layout($grid:6, $gutter: 0.1) {
      .l-region--footer-first {
        @include grid-span(1, 1);
      }
      .l-region--footer-second {
        @include grid-span(1, 2);
      }
      .l-region--footer-third {
        @include grid-span(1, 3);
      }
      .l-region--footer-fourth {
        @include grid-span(1, 4);
      }
      .l-region--footer-fifth {
        @include grid-span(1, 5);
      }
      .l-region--footer-sixth {
        @include grid-span(1, 6);
      }
    }
}