@include add-grid(12);
@include add-gutter(.1);

.l-header,
.l-main,
.l-footer,
.l-content,
.l-region--navigation {
  @include grid-span(12, 1);
}

.l-branding {
  @include grid-span(5, 1);
}

.l-region--header {
  @include grid-span(7, 6);
}

.l-region--navigation {
  clear:both;
}

@include layout($gutter: 0.35) {
  .l-region--footer-first {
    @include grid-span(2, 1);
  }

  .l-region--footer-second {
    @include grid-span(2, 3);
  }

  .l-region--footer-third {
    @include grid-span(2, 5);
  }

  .l-region--footer-fourth {
    @include grid-span(2, 7);
  }

  .l-region--footer-fifth {
    @include grid-span(2, 9);
  }

  .l-region--footer-sixth {
    @include grid-span(2, 11);
  }
}