@include add-grid(1);
@include add-grid(8 4 at $tab);
@include add-grid(12 4 at $desk);
@include add-gutter(.2);

// top level containers
.l-page,
.l-header,
.l-main,
.l-footer,
.l-content,
.l-region--navigation,
.block--superfish,
.l-region--highlighted,
.l-region--featured,
.l-region--slider,
.l-region--atlas,
.l-region--news,
.l-region--products,
.l-region--misc,
.l-region--studies,
.l-region--interviews,
.block--block-1,
.color-rule {
  @include clearfix;
}

.l-header,
.l-main,
.l-footer,
.color-rule {
  clear: both;
}

@include layout(1 1 2) {
  .l-branding {
    @include grid-span(1, 1);
  }
  .l-region--navigation {
    //clear:both;
    @include grid-span(1, 2);
  }
  .l-region--header {
    @include grid-span(1, 3);
  }
}
@include breakpoint($desk, true) {
  @include layout(4 8) {
    @include layout($gutter: .1) {
      .l-branding {
        @include grid-span(1, 1);
      }
      .l-region--header {
        @include grid-span(1, 2);
      }
      .l-region--navigation {
        clear:both;
        @include grid-span(2, 1);
      }
    }
  }
}


// Content
.l-content {
  padding: 0 $content-padding;
  padding-bottom: $vert-spacing-unit;  
}
.l-region--sidebar {
  padding-top: $vert-spacing-unit
}

@include breakpoint($tab, true) {
  .l-content {
      @include grid-span(2,1);
  }
  
  .has-sidebar {
    .l-content {
      @include grid-span(1,1);
    }
    .l-region--sidebar {
      @include grid-span(1,2);
    }
  }
}


// News
@for $i from 1 through 3 {
  .nefo-view-block-news-row:nth-of-type(#{$i}) {
    @include grid-span(1, 1)
  }
}
@include breakpoint($tab, true) {
  @include layout(3) {
    @for $i from 1 through 3 {
      .nefo-view-block-news-row:nth-of-type(#{$i}) {
        @include grid-span(1, $i)
      }
    }
  }
}

// Products
@include breakpoint($tab, true) {
  @include layout(3) {
    #block-views-nefo-view-block-opinion-block {
      @include grid-span(1, 1);
    }
    #block-views-nefo-view-block-factsheet-block {
      @include grid-span(1, 2);
    }
    #block-views-nefo-view-block-report-block {
      @include grid-span(1, 3);
    }
  }
}

// Miscellaneous (Events and News)
@include breakpoint($tab, true) {
  @include layout(2) {
    #block-views-nefo-calendar-event-up,
    #block-views-nefo-calendar-event-up-ical, {
      @include grid-span(1, 1);
    }
    #block-views-nefo-view-block-newsipbes-block {
      @include grid-span(1, 2);
    }   
  }
}

// Studies
@include breakpoint($tab, true) {
  @include layout(4) {
    @for $i from 1 through 4 {
      .nefo-view-block-study-row:nth-of-type(#{$i}) {
          @include grid-span(1, $i)
      }
    }
  }
}

// Footer
@include breakpoint($tab, true) {
  @include layout(3) {
    .l-region--footer-first {
      @include grid-span(1, 1);
    }
    .l-region--footer-second,
    .l-region--footer-fifth {
      @include grid-span(1, 2);
    }
    .l-region--footer-third,
    .l-region--footer-sixth {
      @include grid-span(1, 3);      
    }
    .l-region--footer-fourth {
      @include grid-span(1, 1);
      clear:both;
    }
  }
}
@include breakpoint($desk, true) {
  @include layout(6) {
    @include layout($gutter: .05) {
      .l-region--footer-first {
        @include grid-span(1, 1);
      }
      .l-region--footer-second {
        @include grid-span(1, 2);
      }
      .l-region--footer-third {
        @include grid-span(1, 3);
      }
      .l-region--footer-fourth {
        @include grid-span(1, 4);
      }
      .l-region--footer-fifth {
        @include grid-span(1, 5);
      }
      .l-region--footer-sixth {
        @include grid-span(1, 6);
      }
    }
  }
}



