// Import variables, abstractions, base styles and components.
@import 'singularitygs';
@import 'breakpoint';
@import 'bourbon';

@import '../../variables/variables';
@import '../../variables/colors';
@import '../../variables/sizes';
@import '../../variables/fonts';
@import '../../abstractions/mixins';

@import '../../components/buttons';
@import '../../components/carousel';
@import '../../components/forschungsatlas';

.l-region--featured,
.l-region--slider,
.l-region--atlas,
.l-region--news,
.l-region--products,
.l-region--misc,
.l-region--studies,
.l-region--interviews {
  @include layout(1) {
    @include grid-span(1,1);
  }
}

// News
.l-region--news {
  @include breakpoint($mobile, true) {
    @include layout(1) {
      @for $i from 1 through 3 {
        .nefo-view-block-news-row:nth-of-type(#{$i}) {
          @include grid-span(1, 1)
        }
      }
    }
  }
  @include breakpoint($tab, true) {
    @include layout(3, 0.1) {
      @for $i from 1 through 3 {
        .nefo-view-block-news-row:nth-of-type(#{$i}) {
          @include grid-span(1, $i)
        }
      }
    }
  } 
  @include breakpoint($desk, true) {
    @include layout(3, 0.05) {
      @for $i from 1 through 3 {
        .nefo-view-block-news-row:nth-of-type(#{$i}) {
          @include grid-span(1, $i)
        }
      }
    }
  } 
}

// Products
.l-region--products {
  @include breakpoint($mobile, true) {
    @include layout(1) {
      #block-views-nefo-view-block-opinion-block,
      #block-views-nefo-view-block-factsheet-block,
      #block-views-nefo-view-block-report-block {
        @include grid-span(1, 1);
      }
    }
  }
  @include breakpoint($tab, true) {
    @include layout(3, 0.1) {
      #block-views-nefo-view-block-opinion-block {
        @include grid-span(1, 1);
      }
      #block-views-nefo-view-block-factsheet-block {
        @include grid-span(1, 2);
      }
      #block-views-nefo-view-block-report-block {
        @include grid-span(1, 3);
      }
    }
  }
  @include breakpoint($desk, true) {
    @include layout(3, 0.05) {
      #block-views-nefo-view-block-opinion-block {
        @include grid-span(1, 1);
      }
      #block-views-nefo-view-block-factsheet-block {
        @include grid-span(1, 2);
      }
      #block-views-nefo-view-block-report-block {
        @include grid-span(1, 3);
      }
    }
  } 
}

// Miscellaneous (Events and News)
.l-region--misc {
  @include breakpoint($mobile, true) {
    @include layout(1) {
      #block-views-nefo-calendar-event-up,
      #block-views-nefo-view-block-newsipbes-block {
        @include grid-span(1, 1);
      }
    }
  }
  @include breakpoint($tab, true) {
    @include layout(2, 0.1) {
      #block-views-nefo-calendar-event-up {
        @include grid-span(1, 1);
      }
      #block-views-nefo-view-block-newsipbes-block {
        @include grid-span(1, 2);
      }   
    }
  }
  @include breakpoint($desk, true) {
    @include layout(2) {
      #block-views-nefo-calendar-event-up {
        @include grid-span(1, 1);
      }
      #block-views-nefo-view-block-newsipbes-block {
        @include grid-span(1, 2);
      }   
    }
  }
}


// Studies
.l-region--studies {
  @include breakpoint($mobile, true) {
    @include layout(1) {
      @for $i from 1 through 4 {
        .nefo-view-block-study-row:nth-of-type(#{$i}) {
            @include grid-span(1, 1)
        }
      }
    }
  }
  @include breakpoint($tab, true) {
    @include layout(4, 0.05) {
      @for $i from 1 through 4 {
        .nefo-view-block-study-row:nth-of-type(#{$i}) {
            @include grid-span(1, $i)
        }
      }
    }
  }
  @include breakpoint($desk, true) {
    @include layout(4) {
      @for $i from 1 through 4 {
        .nefo-view-block-study-row:nth-of-type(#{$i}) {
            @include grid-span(1, $i)
        }
      }
    }
  }  
}

