// Frontpage

// Page
.node--blog--teaser {
  border-bottom: $separator-width solid $separator-color;
}

.nefo-content-author {
  margin: 0;
  padding: 0;
  clear: both;
  .nefo-content-author-image-caption {
    font-size: $caption-font-size;
    line-height: $caption-line-height;
  }
  .nefo-content-author-name {
    margin-top: 0.7em;
  }
}
.node--blog .field--type-text-with-summary {
  clear: both;
}
