//
// Frontpage
//

//
// Page
//

// Blog
.node--blog--teaser {
  border-bottom: $separator-width solid $separator-color;
}
.nefo-content-author {
  margin: 0;
  padding: 0;
  clear: both;
  .nefo-content-author-name {
    margin-top: 0.7em;
  }
}
.node--blog .field--type-text-with-summary {
  clear: both;
}

// Article
.field--name-field-nefo-usage-category {
  display: none;
}