%block {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(229,229,229);
  //@include filter-gradient(#03207c, #1e5799, vertical); // IE6-9
  @include background-image(linear-gradient(bottom,
          rgba(243,243,243,1) 0px,
          rgba(243,243,243, 0.01) 40px));

  h2 {
    @include nefo-heading;
  }
}


.l-region--news,
.l-region--misc,
.l-region--products {
  @extend %block;
}
.l-region--products {
  padding-top: 20px;
   h2 {
     position: absolute;
     top: 0;
   }
}
