.l-region--slider {

  background-color: rgb(239,244,248);

  .view-nefo-slider .owl-item img {
    height: auto;
    max-width: 100%;
  }

  .nefo-slideshow-desc,
  .owl-buttons {
    display: none;
  }

  .nefo-button {
    @include button--green;
  }

  @include breakpoint($tab) {
    padding: 40px $content-padding;

    .view-nefo-slider .owl-item img {
      float:left;
      max-width: 70%;

    }

    .owl-controls {
      position: absolute;
      right: 50px;
      bottom: 0px;
    }

    .nefo-slideshow-desc,
    .owl-buttons {
      display: block;
    }

    .nefo-button {
      position: absolute;
      width: 120px;
      right: 160px;
      bottom: 0px;
    }

    .slider-content-right {
      display: inline-block;
      width: 30%;
      padding-left: 15px;

      h2 {
        margin: 0;
      }
    }
  }
}