.l-region--slider {
  margin-left: -50px;
  margin-right: -50px;
  padding: 40px 50px;
  background-color: rgb(239,244,248);
}

.view-nefo-slider .owl-item img {
  float: left;
}

.owl-controls {
  position: absolute;
  right: 100px;
  bottom: 20px;
}

.nefo-button {
  @extend %button;
}