// Slide Show
.l-region--slider {
  background-color: rgb(239,244,248);
  .view-nefo-slider .owl-item img {
    height: auto;
    width: 100%;
  }
  .nefo-button {
    @include button--green;
  }
  .nefo-slideshow-desc,
  .owl-buttons {
    display: none;
  }
  .slider-img-credit {
    padding-top: 4px;
    font-size: $credits-font-size;
    font-weight: bold;
  }  
  @include breakpoint(max-width ($tablet-width-2 - 1)) {
    @include block;
    .nefo-slideshow-url {
      height: 32px;
    }
    .slider-img-credit {
      padding-left: $horz-spacing-unit;
    }
    .slider-content-right {
      padding: 0 $horz-spacing-unit;
    }
  }
  @include breakpoint(max-width ($tablet-width - 1)) {
    .slider-img-credit {
      display: none;
    }
    .nefo-button {
      width: 240px;
    }
    .slider-content-right {
      h2 {
        margin: 0;
        line-height: 1.2;
      }
      .nefo-slideshow-url {
        margin: 0 auto;
        margin-top: 8px;
      }
    }    
  }
  @include breakpoint($tablet-width ($tablet-width-2 - 1)) {
    .nefo-button {
      width: 140px;
    }
    .slider-content-right {
      display:flex;
      justify-content: flex-end;
      h2 {
        display: block;
        margin: 0;
        width: 100%;
        margin-right: 8px;
      }
    }    
  }
  @include breakpoint($tab-3-1) {
    #block-views-nefo-slider-block {
      margin-bottom: 20px;
    }
    .slider-img-credit {
      padding-left: $horz-spacing-unit;
    }
    .slider-content-right {
      padding: 0 $horz-spacing-unit;
    }
    .slider-content-right {
      display:flex;
      justify-content: flex-end;
      h2 {
        display: block;
        margin: 0;
        width: 100%;
        margin-right: 8px;
      }
    }
  } // tab-3-1
  @include breakpoint($tab-3-2) {
    padding: $vert-spacing-unit $horz-spacing-unit;

    .slider-content-left {
      position: relative;
      float:left;
      max-width: 70%;
      a {
        display: inline-block;
        width: 100%
      }
      .slider-img-credit {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        padding-top: 0;
      }
    }
    .slider-content-right {
      display: inline-block;
      width: 30%;
      padding-left: 10px;
      h2 {
        margin: 0;
      }
    }
    .owl-controls {
      position: absolute;
      right: 80px;
      bottom: 0px;
    }
    .nefo-button {
      position: absolute;
      width: 120px;
      right: 80px;
      bottom: 40px;
    }
  } // tab-3-2
  @include breakpoint($desk) {
    padding: $vert-spacing-unit $vert-spacing-unit;
    .nefo-slideshow-desc {
      display: block;
    }
    .slider-content-left {
      position: relative;
      float:left;
      max-width: 70%;
      a {
        display: inline-block;
        width: 100%
      }
      img {
        min-height: 360px; 
        margin: 0;
        padding: 0;
      }
      .slider-img-credit {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        padding-top: 0;
      }
    }
    .slider-content-right {
      display: inline-block;
      width: 30%;
      padding-left: 10px;
      h2 {
        margin: 0;
      }
    }
    .owl-controls {
      position: absolute;
      right: 10px;
      bottom: 0px;
    }
    .nefo-button {
      position: absolute;
      width: 120px;
      right: 150px;
      bottom: 0px;
    }
  }
}

//
// News & Products
//
// Desktop
#block-views-nefo-view-block-news-block,
#block-views-nefo-view-block-news-slider2x,
#block-views-7923aa1841ffb8935a0f5d840fc5988d,
#block-views-d9dd00c5302d180c6d9b900473308096 {
  display: none;
}
// Controls
#block-views-nefo-view-block-news-slider,
#block-views-nefo-view-block-news-slider2x,
#block-views-7fff8ea15f8dbd6591f2746d1d101614,
#block-views-d9dd00c5302d180c6d9b900473308096 {
  .owl-controls  {
    margin: 0;
    position: relative;
    height: 36px;
    .owl-pagination {
      position: absolute;
      left:0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      padding-top: 6px;
    }
    .owl-buttons {
      position: absolute;
      left:0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 180px;
      .owl-prev {
        float: left;
      }
      .owl-next {
        float: right;
      }
      .owl-prev,
      .owl-next {
        margin: 0;
        padding: 3px 14px;
        font-size: 18px;
      }
    }    
  }

  .view-block-news-link-all {
    margin: 0;
    padding: 0;
  }
}

// Double
.block--views-nefo-view-block-news-slider2x,
.block--views-d9dd00c5302d180c6d9b900473308096 {
  .owl-wrapper {
    .owl-item {
      padding: 0 $mobile-content-margin;
      .nefo-view-block-news-title,
      .nefo-block-current-products-title {
        @include breakpoint($tablet-width ($tablet-width-2 - 1)) {
          line-height: 1.4;
        }
        height: 6em;
      }
    }    
  }
}

// Tablet
@include breakpoint($tablet-width ($desktop-width-2 - 1)) {
  #block-views-nefo-view-block-news-slider2x,
  #block-views-d9dd00c5302d180c6d9b900473308096 {
    display: block;
  }
  #block-views-nefo-view-block-news-slider,
  #block-views-7fff8ea15f8dbd6591f2746d1d101614 {
    display: none;
  }
}
// Desktop
@include breakpoint(min-width $desktop-width-2) {
  #block-views-nefo-view-block-news-block,
  #block-views-7923aa1841ffb8935a0f5d840fc5988d {
    display: block;
  }
  #block-views-nefo-view-block-news-slider,
  #block-views-7fff8ea15f8dbd6591f2746d1d101614 {
    display: none;
  }
}
