.l-region--slider {
  background-color: rgb(239,244,248);
  .view-nefo-slider .owl-item img {
    height: auto;
    width: 100%;
  }

  .nefo-button {
    @include button--green;
  }
  
  @include breakpoint($mobile) {
    .nefo-slideshow-desc,
    .owl-buttons {
      display: none;
    }    
  }

  @include breakpoint($tab) {
    padding: 40px $horz-spacing-desk;
    .nefo-slideshow-desc,
    .owl-buttons {
      display: none;
    }  
    .owl-controls {
      position: absolute;
      right: 50px;
      bottom: 0px;
    }

    .nefo-button {
      position: absolute;
      width: 120px;
      right: 160px;
      bottom: 0px;
    }

    .slider-content-left {
      position: relative;
      float:left;
      max-width: 70%;

      a {
        display: inline-block;
        width: 100%
      }

      .slider-img-credit {
        position: absolute;
        bottom: 5px;
        left: 5px;
        color: white;
      }
    }
    .slider-content-right {
      display: inline-block;
      width: 30%;
      padding-left: 15px;

      h2 {
        margin: 0;
      }
    }
  }
    
  @include breakpoint($desk) {
    padding: 40px $horz-spacing-desk;
    .nefo-slideshow-desc,
    .owl-buttons {
      display: block;
    }
    .owl-controls {
      position: absolute;
      right: 50px;
      bottom: 0px;
    }
    .nefo-button {
      position: absolute;
      width: 120px;
      right: 160px;
      bottom: 0px;
    }

    .slider-content-left {
      position: relative;
      float:left;
      max-width: 70%;

      a {
        display: inline-block;
        width: 100%
      }

      .slider-img-credit {
        position: absolute;
        bottom: 5px;
        left: 5px;
        color: white;
      }
    }
    .slider-content-right {
      display: inline-block;
      width: 30%;
      padding-left: 15px;

      h2 {
        margin: 0;
      }
    }
  }
}