.block--views.block--views-nefo-calendar-event-up,
.block--views.block--views-nefo-calendar-event-up-ical {
  position: relative;
  h2 {
    @include nefo-heading;
  }

  ul {
    list-style-type: none;
    padding :0px;
    .nefo-event--heading {
      font-weight: bold;
      background-color: $events-bg;
      padding-top: .7em;
      padding-bottom: .7em;
      //background-image: url(../images/map.png);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 28px 28px;
      &>a {
        color: white;
        text-decoration: none;
      }
    }
    .nefo-event--date {
      display: inline-block;
      margin-right: 5px;
    }
    .nefo-event--location {
      display: inline-block;
      margin-left: 5px;
    }
    .nefo-event--title a {
      text-decoration: none;
      color: $text-color;
    }
    .nefo-event--title a:visited {
      color: $text-color;
    }
  }

  .nefo-event--heading,
  .nefo-event--title {
    padding: 10px;
  }

  .more-link {
    @extend %nefo-front-readmore-nav;
    text-align: right;
    a {
      @extend %nefo-front-readmore-nav-link;
    }
  }

  .view-content {
    border-bottom: $seperator-color 1px solid;
  }
}

#block-views-nefo-calendar-event-up-ical {
  float: none;
}

.page-events .l-main  {
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-events .view-display-id-nefo_events_all {
  .views-row {
    margin-bottom: 1rem;
  }

  .nefo-event--category {
    font-size: 0.8rem;
    color: gray;
  }
  @include layout-at(2 5,$tab) {
    .views-row {
      @include grid-span(2,1);
    }
    .nefo-event--date {
      @include grid-span(1,1);
    }
    .nefo-event--content {
      @include grid-span(1,2);
    }
  }
}

.page-node.node-type-nefo-event {
  .field {
    padding-left: 1rem;
    padding-right: 1rem;
    @include breakpoint($tab) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}