.block--views.block--views-nefo-calendar-event-up,
.block--views.block--views-nefo-calendar-event-up-ical,
.block--nefo-tags-blocks-builder {
  position: relative;
  h2 {
    @include nefo-heading;
  }

  ul {
    list-style-type: none;
    padding :0px;
    .nefo-event--heading {
      font-weight: bold;
      background-color: $events-bg;
      padding-top: .7em;
      padding-bottom: .7em;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 28px 28px;
      color: white;
      &>a {
        color: white !important;
        text-decoration: none;
      }
    }
    .nefo-event--date {
      display: inline-block;
      margin-right: 5px;
    }
    .nefo-event--location {
      display: inline-block;
      margin-left: 5px;
    }
    .nefo-event--title a {
      text-decoration: none;
      color: $text-color;
    }
    .nefo-event--title a:visited {
      color: $text-color;
    }
  }

  .nefo-event--heading,
  .nefo-event--title {
    padding: 10px;
  }

  .more-link {
    @include nefo-front-readmore-nav;
    text-align: right;
    a {
      @include nefo-front-readmore-nav-link;
    }
  }

  .view-content {
    border-bottom: 1px solid $separator-color;
  }
}

#block-views-nefo-calendar-event-up-ical {
  float: none;
}

