
.l-footer {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background: $footer-bg;
}

.l-region--footer-first,
.l-region--footer-second,
.l-region--footer-third,
.l-region--footer-fourth,
.l-region--footer-fifth,
.l-region--footer-sixth {
  h2 {
    font-size: $footer-font-size + 2px;
    text-transform: uppercase;
    color: $footer-header-text;
    margin-bottom: 5px;
    font-weight: bold;
  }
  ul {
    padding-left: 0;
    margin-top: 0;
  }
  li {
    overflow-x: hidden;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $footer-text-color;
    font-size: $footer-font-size;
    font-weight: bold;
  }
}

.nefo-footer-banner {
  margin: $vert-spacing-unit 0;
  .nefo-footer-banner-col {
    float: left;
    width: 25%;
    margin: auto;
    padding: 0;
    color: $text-color;
    text-transform: uppercase;
    height: 34px;
  }
  .nefo-footer-banner-col1 {
    position: relative; 
    background-image: url("../images/icons/publikationen.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 32px;
    height: 100%;
  }
  .nefo-footer-banner-col2 {
    background-image: url("../images/icons/workshops.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 32px;
    height: 100%;
  }
  .nefo-footer-banner-col3 {
    background-image: url("../images/icons/newsletter.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 36px 30px;
    height: 100%;
  }
  .nefo-footer-banner-col4 {
    background-image: url("../images/icons/blog.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 33px 32px;
    height: 100%;
  }
  .nefo-footer-banner-col-link {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 32px; 
    height: 32px; 
    background-color: transparent; 
  }
  a {
    font-size: $footer-font-size + 2px;
    text-decoration: none;
    color: inherit;
    padding-left: 42px;
    vertical-align: middle;
    &:hover {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }
  @include clearfix;
}
