
.l-footer {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background: $footer-bg;
}

.l-region--footer-first,
.l-region--footer-second,
.l-region--footer-third,
.l-region--footer-fourth,
.l-region--footer-fifth,
.l-region--footer-sixth {
  h2 {
    font-size: $footer-font-size + 2px;
    text-transform: uppercase;
    color: $footer-header-text;
    margin-bottom: 10px;
  }
  li {
    overflow-x: hidden;
    padding-bottom: 5px;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $footer-text-color;
    font-size: $footer-font-size;
    font-weight: bold;
  }
}




