@import "variables/fonts";
@import "variables/colors-hsl";

//
// Forschungsatlas
// forschung/forschungsakteure/forschungsatlas
//
.nefo-map-page-wrapper {
  background-color: rgb(239,244,248);
}
.nefo-map-search {
}
.nefo-map-search-form-wrapper {
  margin-left: 1em;
  margin-bottom: 1em;
  @include breakpoint($tab, true) {
    float: left;
    margin: 0 2em;
  }
}
.nefo-map-simple-fieldset,
.nefo-map-extended-fieldset {
  margin-top: 1em;  
}
.nefo-map-simple-fieldset .fieldset-legend,
.nefo-map-extended-fieldset .fieldset-legend {
  @include nefo-heading;
  margin-bottom: 0;
}
.nefo-map-simple-fieldset legend,
.nefo-map-extended-fieldset legend {
  //padding-bottom: 1em;
}
.nefo-map-simple-fieldset select,
.nefo-map-extended-fieldset select,
.nefo-map-simple-fieldset input {
  width : 90%;
  @include breakpoint($tab, true) {
    width : 200px;
  }
}
.nefo-map-simple-fieldset .form-item,
.nefo-map-extended-fieldset .form-item {
  margin-bottom: 0;
}

#nefo-map-form-action .form-submit {
  margin-top: 1em;
}

#nefo-map-wrapper {
}

.nefo-map-table-wrapper {
  clear: both;
}
#nefo-map-table-result-list {
  margin-top: 3em;
  width: 100%;
}
#nefo-map-table-result-list caption {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
#nefo-map-table-result-list th {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
  background-color: #a9c041;
  @extend %no_style_link;
  a {
    color: white;
  }
}
#nefo-map-table-result-list th:first-child,
#nefo-map-table-result-list td:first-child {
  padding-left: 1em;
}
#nefo-map-table-result-list th:last-child {
  padding-right: 1em;
}
#nefo-map-table-result-list td {
  font-size: $view-list-desc-font-size;
  line-height: 2 * $view-list-desc-font-size;
}
#nefo-map-table-result-list td.active {
  //background-color: #DDD;
  background-color: inherit;
}
#nefo-map-table-result-list tr.odd {
  background-color: #E0E0E0;
}
#nefo-map-table-result-list tr.even {
  background-color: #EEE;
}
a.nefo-institution-l-ext {
  background-image: url('../images/icons/external-link.png');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 16px;
  font-size: 12px;
  font-style: italic;
}

.nefo-map-pager-wrapper {
  padding: 0.5em 0;
  background-color: rgb(255, 255, 255);
}

//
// Frontpage blocks
//

.l-region--atlas .block--nefo-blocks-builder-nefo-feature-map {

  h2 {
    @include nefo-heading;
    position: relative;
    top: 20px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 0;
  }
  img {
    display: none;
    @include breakpoint($tab) {
      display: block;
      width: 100%;
    }
  }
  .feature-map-text .btn--blue{
    @extend %button--blue;
  }

  @include layout-at(2 1, $tab) {
    .feature-map-img {
      @include grid-span(1, 1);
    }
    .feature-map-text {
      @include grid-span(1, 2);
    }
  }
}


//.l-region--atlas {
//  .block--block-1 {
//    position: relative;
//    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), white),
//    url("/sites/nefo.biodiv.naturkundemuseum-berlin.de/files/map.png");
//    background-size: 1200px 400px;
//    background-position: top left;
//  }
//  .feature-block {
//    padding-top: 50px;
//    padding-right: 50px;
//
//    h2 {
//      @include nefo-heading;
//    }
//
//    h3 {
//      font-size: 22px;
//      margin-top: 15px;
//      margin-bottom: 15px;
//    }
//
//    .button--atlas {
//      position: absolute;
//      bottom: 60px;
//      a, a:visited {
//        text-decoration: none;
//        background-color: $button-second-bg;
//        color: $h2-text;
//        padding: 15px;
//        border-radius: 4px;
//        font-size: 16px;
//      }
//      a:hover {
//        background-color: $button-second-bg;
//      }
//    }
//  }
//
//  .view-view-researcher-profile {
//    padding: 50px;
//
//    .view-content {
//      width: 80%;
//      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
//      background-color: white;
//      padding: 20px 20px 20px 20px;
//
//      .views-row {
//
//        overflow: auto;
//        h3 {
//          color: $emphasis-text;
//          font-size: 20px;
//        }
//        img {
//          float: left;
//        }
//
//      }
//    }
//
//    .views-field-field-researcher-picture {
//      width: 170px;
//    }
//
//    .views-field-field-researcher-fascinated,
//    .views-field-field-researcher-deficit,
//    .views-field-field-researcher-important,
//    .views-field-field-researcher-interdiscipline {
//      margin-left: 180px;
//    }
//  }

