//
// Frontpage block
//
.block--nefo-blocks-builder-nefo-feature-map {
  @include breakpoint(max-width $tablet-width-2) {
    margin-top: 2 * $vert-spacing-unit;
  }
  .btn {
    margin: 0;
    margin-top: $vert-spacing-unit;
  }
  h2 {
    @include nefo-heading;
    position: relative;
  }
  h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    visibility: hidden;
  }
  img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  p {
    display: none;
  }
  .feature-map-text .btn--blue{
    @include button--blue;
  }
}


//
// Forschungsatlas page
//
// forschung/forschungsakteure/forschungsatlas
.nefo-map-page-wrapper {
  background-color: rgb(239,244,248);
}
.nefo-map-search {
}
.nefo-map-search-form-wrapper {
  margin-left: 1em;
  margin-bottom: 1em;
  @include breakpoint($tab) {
    float: left;
    margin: 0 1em;
  }
  @include breakpoint($desk) {
    float: left;
    margin: 0 1em;
  }
}
.nefo-map-simple-fieldset,
.nefo-map-extended-fieldset {
  margin-top: 1em;
}
.nefo-map-simple-fieldset .fieldset-legend,
.nefo-map-extended-fieldset .fieldset-legend {
  @include nefo-heading;
  margin-bottom: 0;
}
.nefo-map-simple-fieldset legend,
.nefo-map-extended-fieldset legend {
}
.nefo-map-simple-fieldset select,
.nefo-map-extended-fieldset select,
.nefo-map-simple-fieldset input {
  width : 200px;
  @include breakpoint($mobile) {
    width: 90%;
  }
}
.nefo-map-simple-fieldset .form-item,
.nefo-map-extended-fieldset .form-item {
  margin-bottom: 0;
}
.nefo-map-simple-fieldset {
  .form-checkbox {
	width : 16px;
  }
  label {
    font-weight: bold;
  }
}

#nefo-map-form-action .form-submit {
  margin-top: 1em;
}

#nefo-map-wrapper {
}

.nefo-map-table-wrapper {
  clear: both;
}
#nefo-map-table-result-list {
  margin-top: 4em;
  width: 100%;
  //background-color: #a9c041;
  border: 1px solid #BE7;
}
#nefo-map-table-result-list caption {
  font-size: $p-font-size;
  line-height: $p-line-height;
}
#nefo-map-table-result-list th {
  font-size: $p-font-size;
  line-height: $p-line-height;
  background-color: #a9c041;
  @include no_style_link;
  a {
    color: white;
  }
}
#nefo-map-table-result-list th:first-child,
#nefo-map-table-result-list td:first-child {
  padding-left: 1em;
}
#nefo-map-table-result-list th:last-child,
#nefo-map-table-result-list td:last-child {
  padding-right: 1em;
}
#nefo-map-table-result-list td {
  font-size: $date-font-size;
  line-height: 2;
  padding: 0.5em 0;
}
#nefo-map-table-result-list td.active {
  background-color: inherit;
}
#nefo-map-table-result-list tr.odd {
  background-color: #F8FFF0;
}
#nefo-map-table-result-list tr.even {
  background-color: #F9FED9;
}
a.forschungsatlas-institution-l {
  color: #336699;
  text-decoration: none;
  font-weight: 500;
  &:hover{
    text-decoration: underline;
  }
}
.nefo-map-pager-wrapper {
  padding: 0.5em 0;
  background-color: rgb(255, 255, 255);
}

// Leaflet Map controls z-index was too high
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499;
  pointer-events: none;
}


// Institution display
#forschungsatlas-institution {
  padding: 1em .5em;
}
#forschungsatlas-institution-abbrev {
  padding: 0;
}
#forschungsatlas-institution-abbrev,
#forschungsatlas-institution-url,
#forschungsatlas-institution-orgtype,
#forschungsatlas-institution-changed {
  display: table;
  .forschungsatlas-institution-h,
  .forschungsatlas-institution-c {
    display: table-cell;
  }
  .forschungsatlas-institution-h {
    padding-right: 1em;
  }
}

#forschungsatlas-institution-url {
  a {
    color: #336699;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
#forschungsatlas-institution-belonging,
#forschungsatlas-institution-subdivision {
  margin-top: .5em;
}

a.nefo-subdivision-l,
a.forschungsatlas-subdivision-l {
  padding-right: 1em;
  color: #336699;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }  
}
a.nefo-institution-l-ext,
a.forschungsatlas-institution-l-ext {
  background-image: url('../../../images/icons/external-link.png');
  background-repeat: no-repeat;
  background-position: center right;
  padding-left: 1em;
  padding-right: 16px;
  font-size: 12px;
  font-style: italic;
  color: #336699;
  text-decoration: none;
}

