// Frontpage block
.l-region--atlas .block--nefo-blocks-builder-nefo-feature-map {
  h2 {
    @include nefo-heading;
    position: relative;
    top: 20px;
  }
  h3 {
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 0;
  }
  p,
  .btn {
    margin: 0 10px;
  }
  img {
    @include breakpoint($mobile) {
      display: none;
    }
    @include breakpoint($tab) {
      display: block;
      width: 100%;
    }
    @include breakpoint($desk) {
      display: block;
      width: 100%;
    }
  }
  .feature-map-text .btn--blue{
    @extend %button--blue;
  }

  @include layout-at(2 1, $tab) {
    .feature-map-img {
      @include grid-span(1, 1);
    }
    .feature-map-text {
      @include grid-span(1, 2);
    }
    h3,
    p,
    .btn {
      margin: 0;
    }
  }
  @include layout-at(2 1, $desk) {
    .feature-map-img {
      @include grid-span(1, 1);
    }
    .feature-map-text {
      @include grid-span(1, 2);
    }
    h3,
    p,
    .btn {
      margin: 0;
    }
  }
}


// Forschungsatlas page
// forschung/forschungsakteure/forschungsatlas
.nefo-map-page-wrapper {
  background-color: rgb(239,244,248);
}
.nefo-map-search {
}
.nefo-map-search-form-wrapper {
  margin-left: 1em;
  margin-bottom: 1em;
  @include breakpoint($tab) {
    float: left;
    margin: 0 2em;
  }
  @include breakpoint($desk) {
    float: left;
    margin: 0 2em;
  }
}
.nefo-map-simple-fieldset,
.nefo-map-extended-fieldset {
  margin-top: 1em;  
}
.nefo-map-simple-fieldset .fieldset-legend,
.nefo-map-extended-fieldset .fieldset-legend {
  @include nefo-heading;
  margin-bottom: 0;
}
.nefo-map-simple-fieldset legend,
.nefo-map-extended-fieldset legend {
  //padding-bottom: 1em;
}
.nefo-map-simple-fieldset select,
.nefo-map-extended-fieldset select,
.nefo-map-simple-fieldset input {
  width : 200px;
  @include breakpoint($mobile) {
    width: 90%;
  }
}
.nefo-map-simple-fieldset .form-item,
.nefo-map-extended-fieldset .form-item {
  margin-bottom: 0;
}

#nefo-map-form-action .form-submit {
  margin-top: 1em;
}

#nefo-map-wrapper {
}

.nefo-map-table-wrapper {
  clear: both;
}
#nefo-map-table-result-list {
  margin-top: 3em;
  width: 100%;
}
#nefo-map-table-result-list caption {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
#nefo-map-table-result-list th {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
  background-color: #a9c041;
  @extend %no_style_link;
  a {
    color: white;
  }
}
#nefo-map-table-result-list th:first-child,
#nefo-map-table-result-list td:first-child {
  padding-left: 1em;
}
#nefo-map-table-result-list th:last-child {
  padding-right: 1em;
}
#nefo-map-table-result-list td {
  font-size: $view-list-desc-font-size;
  line-height: 2 * $view-list-desc-font-size;
}
#nefo-map-table-result-list td.active {
  //background-color: #DDD;
  background-color: inherit;
}
#nefo-map-table-result-list tr.odd {
  background-color: #E0E0E0;
}
#nefo-map-table-result-list tr.even {
  background-color: #EEE;
}
a.nefo-institution-l-ext {
  background-image: url('../images/icons/external-link.png');
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 16px;
  font-size: 12px;
  font-style: italic;
}

.nefo-map-pager-wrapper {
  padding: 0.5em 0;
  background-color: rgb(255, 255, 255);
}


