//
// Frontpage
//


//
// Page
//
.nefo-view-block-further-topics {
  margin-top: 1em;
  .view-header {
    p {
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }
}
.nefo-view-block-further-topics-row {
    margin-top: 0;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    //padding-bottom: 1em;
}
