.l-header {
  padding-top: 25px;
  background: $header-bg;

  .l-branding {
    padding-left: 115px;
    img {
      width: 100%;
    }
  }
  .l-region--header {
    padding-right: 115px;

  }
}

#block-menu-menu-nefo-login-menu,
#block-superfish-2,
#block-block-1 {
  display: inline-block;
}

#block-block-1 {
  vertical-align: top;
  .block__content {
    line-height: initial;
  }
  a {
    @extend %nefo-top-menu-link;
  }
}


//#block-menu-menu-header-menu {
//  ul.menu {
//    list-style-type: none;
//    margin: 0;
//    padding: 0;
//    li {
//      display:inline;
//    }
//  }
//}

