.l-header {
  padding-top: 25px;
  background: $header-bg;

  .l-branding {
    padding-left: 115px;
    img {
      width: 100%;
    }
  }
  .l-region--header {
    padding-right: 115px;


    #block-nefo-language-switch {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          float: left;
          margin: 0;
          padding: 0;
          a {
            @extend %nefo-top-menu-link;
          }
        }
      }
    }
  }
}

#block-menu-menu-nefo-login-menu,
#block-superfish-2,
#block-nefo-language-switch {
  display: inline-block;
}

#block-menu-menu-header-menu {
  ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display:inline;
    }
  }
}

