.l-branding {
  padding: 5px 10px;
  img {
    width: 100%;
  }
  @include breakpoint($desk) {
    padding-left: 115px;
  }
}

.l-region--header {
  margin: 0 10px;
  @include breakpoint($tab) {
    padding-left: 20px;
    padding-right: 115px;
  }
  @include breakpoint($desk) {
    padding-left: 0;
    padding-right: 115px;
  }
}
.block--menu-menu-nefo-top-menu ul.menu {
  display: inline;
  padding: 0 5px;
}

// Top menu
#block-menu-menu-nefo-top-menu {
  ul.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding:  0;
    li {
      display: block;
      a {
        @include nefo-top-menu-link;
      }
    }
  }
}

// Language switch
#block-block-1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  .block__content {
    line-height: initial;
  }
}


@include breakpoint($tab) {
  .l-header {
    padding-top: 25px;
    background: $header-bg;
  }
  #block-menu-menu-nefo-login-menu,
  #block-superfish-2 {
    display: inline-block;
  }

  // Top menu
  #block-menu-menu-nefo-top-menu {
    ul.menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        display: inline;
        a {
          @include nefo-top-menu-link;
        }
      }
    }
  }

  .i18n-en #block-menu-menu-nefo-top-menu {
    width: 25%;
    //padding-right: 360px;
  }

}
/* I let this stay here in case we want to support older browsers */
//#block-menu-menu-nefo-top-menu {
//  float: left;
//  width: 100%;
//  ul.menu {
//    margin-top: 0;
//    margin-bottom: 0;
//    padding:  0;
//    text-align: justify;
//    li {
//      display: inline;
//      a {
//        @extend %nefo-top-menu-link;
//      }
//    }
//  }
//  ul.menu:after {
//    content: '';
//    display: inline-block;
//    width: 100%;
//  }
//}

