// Frontpage
.block--views-nefo-view-block-interview-block {
  clear: both;
}
.nefo-view-block-interview-img {
  img {
    width: 100%;
    height: auto;
  }
}
.nefo-view-block-interview-img-credit {
  padding-top: 4px;
  font-size: $view-list-credit-font-size;
  font-weight: bold;
}
.nefo-view-block-interview-link {
  @extend %nefo-front-readmore-nav-button;
}
.nefo-view-block-interview-link-all {
  float: right;
  a {
    @extend %nefo-front-readmore-nav-link;
    vertical-align: middle;
  }
}
.nefo-view-block-interview-col2 {
  margin: 0 $mobile-content-margin;
}
.nefo-view-block-interview-title {
  margin-bottom: 0.5em;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
}
.nefo-view-block-interview-quotation {
  margin-bottom: 0.5em;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
}

// Page
.nefo-view-list-interview-row {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1em;
    border-bottom: $separator-width solid $separator-color;
    clear: both;
}
.field--name-field-nefo-interview-category {
  a {
    @extend %nefo-front-readmore-nav-link;
    vertical-align: middle;
    font-size: 16px;
  }
}
.nefo-product-interview-page-title {
  font-size: $h3-font-size;
  margin-top: 1em;
  margin-bottom: 1em;  
}
.nefo-view-block-interview-with, 
.nefo-view-list-interview-with {
  font-size: 14px;
  line-height: 1.4;
}
.field--name-field-nefo-interview-thema {
  font-size: $h1-font-size;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.nefo-view-list-interview-img-caption {
  font-size: $view-list-caption-font-size;
  line-height: $view-list-caption-line-height;
}
.nefo-view-list-interview-img-credit {
  font-size: $view-list-credit-font-size;
  line-height: $view-list-credit-line-height;
}
.nefo-view-list-interview-link {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
.nefo-view-list-interview-col1 {
  margin-top: 8px;
}



// Tab
@include breakpoint($tab) {
  .nefo-view-block-interview-img {
    img {
      width: 250px;
    }
  }
  .nefo-view-block-interview-col1 {
    float: left;
   }
  .nefo-view-block-interview-col2 {
    margin-left: 260px;
  }
  .nefo-view-block-interview-nav {
    @include nefo-front-readmore-nav;
  }
  .nefo-view-block-interview-link-all {
    padding-left: 2em;
    float: none;
  }
}

// Desktop
@include breakpoint($desk) {
  // Frontpage
  .nefo-view-block-interview-col1 {
    float: left;
   }
  .nefo-view-block-interview-col2 {
    margin-left: 450px;
  }
  .nefo-view-block-interview-nav {
    @include nefo-front-readmore-nav;
  }
  .nefo-view-block-interview-link-all {
    padding-left: 1em;
    float: none;
  }
  // List
  .nefo-view-list-interview-content {
    clear: both;
    overflow: hidden;
  }
  .nefo-view-list-interview-img {
    margin-bottom: 8px;
  }
  .nefo-view-list-interview-col1 {
    margin-right: 130px;
    margin-top: 0;
  }
  .nefo-view-list-interview-col2 {
    width: 120px;
    float: right;
  }  
}


