// Frontpage
.block--views-nefo-view-block-interview-block {
  clear: both;
}
.view-nefo-view-block-interview {
  .view-content {
  }
}
.nefo-view-block-interview-row {
}
.nefo-view-block-interview-col1 {
  @include breakpoint($tab-2) {
    width: 100%;
    max-width: 100%;
  }
  @include breakpoint($tab-3) {
    width: 48%;
    max-width: $image-block-width-interview;
    float: left;
  }  
  @include breakpoint($desk) {
    float: left;
  }  
}
.nefo-view-block-interview-col2 {
  @include breakpoint($mobile) {
    margin-top: $vert-spacing-unit;
  }
  @include breakpoint($tab-2) {
    margin-top: $vert-spacing-unit;
  }
  @include breakpoint($tab-3) {
    margin-left: 50%;
  }  
  @include breakpoint($desk) {
     margin-left: 450px;
  }
}
.nefo-view-block-interview-img {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
.nefo-view-block-interview-img-credit {
  padding-top: 4px;
  font-size: $view-list-credit-font-size;
  font-weight: bold;
}
.nefo-view-block-interview-title {
  margin-bottom: 0.5em;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
}
.nefo-view-block-interview-quotation {
  margin-bottom: 0.5em;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
}
.nefo-view-block-interview-nav {
  @include breakpoint($desk) {
    @include nefo-front-readmore-nav;
  } 
}
.nefo-view-block-interview-link {
  @include nefo-front-readmore-nav-button;
}
.nefo-view-block-interview-link-all {
  float: right;
  a {
    @include nefo-front-readmore-nav-link;
    vertical-align: middle;
  }
  @include breakpoint($desk) {
    padding-left: 1em;
    float: none;
  }  
}


// Page
.nefo-view-list-interview-row {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1em;
    border-bottom: $separator-width solid $separator-color;
    clear: both;
}
.nefo-view-list-interview-date {
  margin-bottom: 1em;
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height;
}
.nefo-product-interview-page-title {
  font-size: $h3-font-size;
  margin-top: 1em;
  margin-bottom: 1em;  
}
.nefo-view-block-interview-with, 
.field--name-field-nefo-interview-with {
  font-size: 14px;
  line-height: 1.4;
  margin: $mobile-content-margin 0;
}
.field--name-field-nefo-interview-thema {
  font-size: $h1-font-size;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.nefo-view-list-interview-img-caption {
  font-size: $view-list-caption-font-size;
  line-height: $view-list-caption-line-height;
}
.nefo-view-list-interview-img-credit {
  font-size: $view-list-credit-font-size;
  line-height: $view-list-credit-line-height;
}
.nefo-view-list-interview-link {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
.nefo-view-list-interview-col1 {
  margin-top: 8px;
}

// Desktop
@include breakpoint($desk) {
  // List
  .nefo-view-list-interview-content {
    clear: both;
    overflow: hidden;
  }
  .nefo-view-list-interview-img {
    margin-bottom: 8px;
  }
  .nefo-view-list-interview-col1 {
    margin-right: 130px;
    margin-top: 0;
  }
  .nefo-view-list-interview-col2 {
    width: 120px;
    float: right;
  }  
}


