//
// Frontpage
//
.nefo-view-block-interview-row {
  .nefo-view-block-interview-title {
    margin: 0;
    margin-bottom: $mobile-content-margin;    
    a {
      color: $h2-bg;
      text-decoration: none;
    }
    @include breakpoint(min-width $tablet-width-3) {
      display: none;
    }
  }
  .nefo-view-block-interview-img {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  .nefo-view-block-interview-img-credit {
    padding-top: 4px;
    font-size: $view-list-credit-font-size;
    font-weight: bold;
  }
}


//
// Page
//
.nefo-view-list-interview-row {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1em;
    border-bottom: $separator-width solid $separator-color;
    clear: both;
}
.nefo-view-list-interview-date {
  margin-bottom: 1em;
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height;
}
.nefo-product-interview-page-title {
  font-size: $h3-font-size;
  margin-top: 1em;
  margin-bottom: 1em;  
}
.nefo-view-block-interview-with, 
.field--name-field-nefo-interview-with {
  font-size: 14px;
  line-height: 1.4;
  margin: $mobile-content-margin 0;
}
.field--name-field-nefo-interview-thema {
  font-size: $h1-font-size;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.nefo-view-list-interview-img-caption {
  font-size: $view-list-caption-font-size;
  line-height: $view-list-caption-line-height;
}
.nefo-view-list-interview-img-credit {
  font-size: $view-list-credit-font-size;
  line-height: $view-list-credit-line-height;
}
.nefo-view-list-interview-link {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
.nefo-view-list-interview-col1 {
  margin-top: 8px;
}

// Desktop
@include breakpoint($desk) {
  // List
  .nefo-view-list-interview-content {
    clear: both;
    overflow: hidden;
  }
  .nefo-view-list-interview-img {
    margin-bottom: 8px;
  }
  .nefo-view-list-interview-col1 {
    margin-right: 130px;
    margin-top: 0;
  }
  .nefo-view-list-interview-col2 {
    width: 120px;
    float: right;
  }  
}

// Small Block
.nefo-view-small-block-interview {
  .nefo-view-small-block-interview-content {
    padding-bottom: 1em;
    border-bottom: #e0e0e0 1px solid;
    .nefo-view-block-interview-img-credit {
      font-weight: normal;
    }
    p {
      margin-top: 0.7em;
    }
  }
  .nefo-view-small-block-interview-nav {
    padding-top: 10px;
    text-align: right;
  } 
}


