//
// Frontpage
//
.nefo-view-block-interview-row {
  .nefo-view-block-interview-title {
    margin: 0;
    margin-bottom: $mobile-content-margin;    
    a {
      color: $h2-bg;
      text-decoration: none;
    }
  }
  .nefo-view-block-interview-img {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  .nefo-view-block-interview-img-credit {
    padding-top: 4px;
    font-size: $view-list-credit-font-size;
    font-weight: bold;
  }
  .nefo-view-block-interview-link-all {
    @include nefo-front-readmore-nav;
    text-align: right;
    a {
      @include nefo-front-readmore-nav-link;
    }
  }
}


//
// Page
//
.nefo-product-interview-page-title {
  font-size: $h2-font-size;
  margin-top: 1em;
  margin-bottom: 1em;
  @include breakpoint($mobile) {
    font-size: $h2-font-size-mobile;
  }
  @include breakpoint($tab) {
    font-size: $h3-font-size-tab;
  }
}
.nefo-view-block-interview-with, 
.field--name-field-nefo-interview-with {
  margin: $mobile-content-margin 0;
  font-weight: 500;
  color: #4d4d4d;
}
.field--name-field-nefo-interview-thema {
  font-size: $h1-font-size;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: 600;
  @include breakpoint($mobile) {
    font-size: $h1-font-size-mobile;
  }
  @include breakpoint($tab) {
    font-size: $h1-font-size-tab;
  }
}


//
// Block
//
.nefo-view-small-block-interview {
  .nefo-view-small-block-interview-content {
    padding-bottom: 1em;
    border-bottom: #e0e0e0 1px solid;
    .nefo-view-block-interview-img-credit {
      font-weight: normal;
    }
    p {
      margin-top: 0.7em;
    }
  }
  .nefo-view-small-block-interview-nav {
    padding-top: 10px;
    text-align: right;
  } 
}


