// Links
.not-front {
  .block__content a[href],
  .node__content a[href],
  .taxonomy-term__content a[href],
  .view-content a[href],
  .node--blog--teaser a[href] {
    color: $nefo_f;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .tagclouds-term a[href] {
    color: $nefo_f;
  }
}

.nefo-link-back-list-all {
  @include nefo-front-readmore-nav;
  margin-top: 1em;
  border-top: $separator-width solid $separator-color;
  text-align: right;
  a {
    @include nefo-front-readmore-nav-link;
    font-size: inherit;
    font-weight: normal;
  }
}
.nefo-target-url {
}

.nefo-view-block-link-all {
  margin-top: 2rem;
  border-top: #e0e0e0 1px solid;
  @include nefo-front-readmore-nav;
  text-align: right;
  a {
    @include nefo-front-readmore-nav-link;
  }
}

// Back to Top
#backtotop {
  @include breakpoint($mobile) {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
  @include breakpoint($tab) {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }
  @include breakpoint($desk) {
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
  }
}

