.not-front {
  .node__content a,
  .taxonomy-term__content a,
  .view-content a {
    color: $nefo_o;
    text-decoration: none;

    &:hover {
    text-decoration: underline;
  }
  }

  .tagclouds-term a {
    color: $nefo_o;
  }
}
