.not-front {
  .block__content a[href],
  .node__content a[href],
  .taxonomy-term__content a[href],
  .view-content a[href] {
    color: $nefo_f;
    text-decoration: none;

    &:hover {
    text-decoration: underline;
  }
  }

  .tagclouds-term a[href] {
    color: $nefo_f;
  }
}
