.nefo-view-list-literature-tip-row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: $vert-spacing-unit;
  min-height: 300px;
  border-bottom: $separator-width solid $separator-color;
  clear: both;
}
.nefo-view-list-literature-tip-link {
  font-size: $p-font-size;
  margin-bottom: 1em;
}
.nefo-view-list-literature-tip-date {
  margin-bottom: 1em;
  font-size: $date-font-size;
  line-height: $date-line-height;
}
.nefo-view-block-literaturtipp-img {
  padding-bottom: 2rem;
  border-bottom: #e0e0e0 1px solid;
}
.nefo-view-block-literaturtipp-more-link  {
  @include nefo-front-readmore-nav;
  text-align: right;
  a {
    @include nefo-front-readmore-nav-link;
  }
}

@include breakpoint($mobile) {
  .nefo-view-list-literature-tip-img {
   box-shadow: 8px 8px 4px #888;
  }
  .nefo-view-list-literature-tip-img img {
   max-width: 120px;
   height: auto;
  }
  .nefo-view-list-literature-tip-col1 {
    max-width: 120px;
  }
}
@include breakpoint($tab) {
  .nefo-view-list-literature-tip-img {
   box-shadow: 8px 8px 4px #888;
  }
  .nefo-view-list-literature-tip-img img {
   max-width: 120px;
   height: auto;
  }
  .nefo-view-list-literature-tip-col1 {
    width: 120px;
    float: left;
  }
  .nefo-view-list-literature-tip-col2 {
    margin-left: 136px;
    width: auto;
  }
}
@include breakpoint($desk) {
  .nefo-view-list-literature-tip-img {
   box-shadow: 8px 8px 4px #888;
   max-height: 212px;
  }
  .nefo-view-list-literature-tip-img img {
   max-height: 212px;
  }
  .nefo-view-list-literature-tip-col1 {
    width: 150px;
    float: left;
  }
  .nefo-view-list-literature-tip-col2 {
    margin-left: 170px;
    width: auto;
  }
}