/*
Login Button

The Login Button

Markup:
  <div class="login">Login</div>

*/
.block--menu-menu-nefo-login-menu {
  background-image: url("../images/login.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 17px 17px;
  color: $header-login;
  float: left;
  padding-top: 1px;

  ul li {
    overflow: hidden;
  }

  a {
    font-size: 14px;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }
}
