/*
Login Button

The Login Button

Markup:
  <div class="login">Login</div>

*/
.block--menu-menu-nefo-login-menu {
  background-image: url("../images/icons/login.png");
  background-repeat: no-repeat;
  background-position: left 6px;
  background-size: 15px 15px;
  color: $header-login;
  @include breakpoint($tab) {
    float: left;
  }

  ul.menu {
    margin-top: 0;
    padding-left: 0;
    li {
      padding-top: 3px;
      line-height: initial;
      overflow: hidden;
    }
  }

  a {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    margin-left: 17px;
    &:hover {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }
}
