// Login Button
#block-menu-menu-nefo-login-menu,
#block-menu-menu-nefo-login-menu-2 {
  display: block;
  h2 {
    display: none;
  }
  margin-top: 0.5em;
  margin-bottom: $horz-spacing-desk;
  @include breakpoint($mobile) {
    margin-bottom: (2 * $horz-spacing-desk);
  }
}
  
.block--menu-menu-nefo-login-menu,
.block--menu-menu-nefo-login-menu-2 {
  background-image: url("../images/icons/login.png");
  background-repeat: no-repeat;
  background-position: left 6px;
  background-size: 15px 15px;
  color: $header-login;
  ul.menu {
    margin-top: 0;
    padding-left: 0;
    li {
      padding-top: 3px;
      line-height: initial;
      overflow: hidden;
      text-transform: none;
    }
  }

  a {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    margin-left: 17px;
    text-transform: none;
    &:hover {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }
}

@include breakpoint($mobile) {
  #block-menu-menu-nefo-login-menu {
    display: none;
  }
  #block-menu-menu-nefo-login-menu-2 {
    display: block;
  }
}
@include breakpoint($tab) {
  #block-menu-menu-nefo-login-menu {
    display: block;
  }
  #block-menu-menu-nefo-login-menu-2 {
    display: none;
  }
}
@include breakpoint($desk) {
  #block-menu-menu-nefo-login-menu {
    display: block;
  }
  #block-menu-menu-nefo-login-menu-2 {
    display: none;
  }
}

