// Images
.file-image {
//  margin: $vert-spacing-unit 0;
  max-width: 100%;
  img {
    padding-bottom: 8px;
    max-width: 100%;
    height: auto;
  }
  .field--name-field-image-caption-text > div > div {
    font-size: $caption-font-size;
    line-height: $caption-line-height;
    font-weight: 600;
  }
  .field--name-field-file-image-credit-text > div > div {
    font-size: $credit-font-size;
    line-height: $credit-line-height;
    font-weight: 600;
    margin-bottom: 8px;
  }
}

// File icons 
.file-icon {
  padding-right: 4px;
}


// Documents
.field--name-field-nefo-workshop-file,
.field--name-field-workshop-announcement,
.file-document,
.field--name-field-nefo-product-document {
  margin: 8px 0;
  .file {
    display: table;
    .file-icon {
      display: table-cell;
      padding: 0;
      margin: 0;
      margin-right: 8px;
      img {
        height: 45px;
        vertical-align: top;
      }
    }
    .file-link {
      display: table-cell;
      vertical-align: top;
      padding: 0;
      margin: 0;
    }
  }//file
  .field--name-field-file-document-desc {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 90%;
    color: #4d4d4d;
  }
}

.field--name-field-workshop-announcement {
  .field__item {
    margin-bottom: 8px;
  }
}

.nefo-ckeditor-inline-container {
  display: block;
  font-size: $p-font-size;
  line-height: 1.6;
  font-weight: 300;
  color: black;
  text-align: left;
  margin-top: 0em;
  margin-bottom: 0.7em;
  .media-element-container {
    display: inline;
    .file-document {
      display: inline;
      .content {
        display: inline;
      }
    }
  }
}
