$nefo-n: hsl(90, 40.32%, 48.63%);
$nefo-e: hsl(71, 50.20%, 50.39%);
$nefo-e-hover: hsl(71, 50.20%, 60%);
$nefo-f: hsl(206, 42.60%, 43.73%);
$nefo-o: hsl(207, 51.52%, 54.71%);
$nefo-slogan: hsl(315, 100.00%, 21.96%);

/* @group ofen */
.megamenu-skin-ofen {
  background-color: $nefo-o;
}

.megamenu-skin-ofen .megamenu-parent {
  padding: 1rem 0.5rem;
  & > .megamenu-parent-title {
    color: white;
    text-transform: uppercase;
  }
  & > .megamenu-parent-title > a {
    font-weight: bold;
  }
  &.hovering {
    background-color: lighten($nefo-o, 10);
  }
}

.megamenu-skin-ofen .megamenu-title {
  font-size: 100%;
  font-weight: normal;
}

.megamenu-skin-ofen .megamenu-bin {
  background-color: lighten($nefo-o, 10);
  //border: 2px groove #7e7e7e;
  //-moz-border-radius: 0.583em;
  //-webkit-border-radius: 0.583em;
  //border-radius: 0.583em;
  margin-top: 1rem;
}

.megamenu-skin-ofen .megamenu-slot {
  margin-right: 4px;
  border-bottom: 1px solid #bbb;
  list-style: none;
}

.megamenu-skin-ofen .megamenu-slot-title {
  margin-bottom: 1rem;
}

.megamenu-skin-ofen .megamenu-slot-title,
.megamenu-skin-ofen .megamenu-slot-title a {
  //background-color: #bbb;
  color: #eee; /* white */
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
}

.megamenu-skin-ofen .megamenu-link {
  font-size: 85%;
}



/* @end ofen*/