#block-nefo-blocks-builder-nefo-newsletter2go-press-news,
#block-nefo-blocks-builder-nefo-newsletter2go-biodiv-news,
#block-nefo-blocks-builder-nefo-newsletter2go-ipbes-news,
#nl2go--form,
#nl2go--submit {
  font-family: ProximaNova, sans-serif;
}

#block-nefo-blocks-builder-nefo-newsletter2go-ipbes-news {
  font-size: .9em;
  input {
    max-width: 150px;
  }
  input.nl2go--submit {
    max-width: 100%;
    font-size: 1.1em !important;
  }
}

