//
// Frontpage
//

// BIODIV
.view-nefo-view-block-news {
  @include breakpoint($mobile) {
    margin-top: 0;
  }
  @include breakpoint($tab-2) {
    margin-top: 0;
  }
  @include breakpoint($tab-3) {
    margin-top: $vert-spacing-unit;
  }
  @include breakpoint($desk) {
    margin-top: $vert-spacing-unit;
  }
  .view-content,
  .view-footer {
    @include breakpoint($tab-2) {
      width: 100%;
      max-width: 100%;
    }
    @include clearfix;
  }
}
.nefo-view-block-news-row {
  @include breakpoint($mobile) {
    margin: $vert-spacing-unit 0;
    border-bottom: 1px solid $separator-color;
  }
  @include breakpoint($tab-2) {
    margin: $vert-spacing-unit 0;
    border-bottom: 1px solid $separator-color;
  }
}
.nefo-view-block-news-title {
  a {
    color: $h2-bg;
    text-decoration: none;
  }
  @include breakpoint($mobile) {
    margin: 0;
    margin-bottom: $mobile-content-margin;
  }
  @include breakpoint($tab-2) {
    margin: 0;
    margin-bottom: $mobile-content-margin;
  }
  @include breakpoint($tab-3-1) {
    margin: 0 $mobile-content-margin;
    height: 10em;
  }
  @include breakpoint($tab-3-2) {
    margin: 0 $mobile-content-margin;
    height: 8em;
  }
  @include breakpoint($desk) {
    margin: 0 $mobile-content-margin;
    height: 6em;
  }
}
.nefo-view-block-news-img {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    @include breakpoint($tab-3-1) {
      max-height: ($image-block-height - 70);
    }
    @include breakpoint($tab-3-2) {
      max-height: ($image-block-height - 70);
    }
    @include breakpoint($desk) {
      max-height: ($image-block-height - 70);
    }
  }
  @include breakpoint($mobile) {
    margin-bottom: $mobile-content-margin;
  }
  @include breakpoint($tab-2) {
    margin-bottom: $mobile-content-margin;
  }
}
.view-block-news-link-all,
.view-block-newsipbes-link-all {
  @include nefo-front-readmore-nav;
  text-align: right;
  a {
    @include nefo-front-readmore-nav-link;
  }
}

// IPBES
.view-nefo-view-block-newsipbes {
  @include breakpoint($mobile) {
    margin-top: 0;
  }
  @include breakpoint($tab) {
    margin-top: 1em;
  }
  @include breakpoint($desk) {
    margin-top: 1em;
  }
  .view-content {
    border-bottom: 1px solid $separator-color;
  }
}
.nefo-view-block-newsipbes-row {
  @include breakpoint($mobile) {
    margin: 0;
  }
  @include breakpoint($tab) {
    margin: 0;
  }
  @include breakpoint($desk) {
    margin: 0 $mobile-content-margin;
  }
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
  padding-bottom: 1em;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
}

//
// Pages
//
.nefo-view-list-news-row {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 1em;
  border-bottom: $separator-width solid $separator-color;
  clear: both;
}
.nefo-view-list-news-category {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
  padding-bottom: 1em;
}
.nefo-view-list-news-date {
  margin-bottom: 1em;
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height;
}
.nefo-view-list-news-link {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
.nefo-view-list-news-img {
  margin-bottom: 8px;
}

@include breakpoint($desk) {
  .nefo-view-list-news-content {
    clear: both;
    overflow: hidden;
  }
  .nefo-view-list-news-col2 {
    width: 120px;
    float: right;
  }
  .nefo-view-list-news-col1 {
    margin-right: 130px;
  }
}


.field--name-field-nefo-news-category {
  margin-top: $vert-spacing-unit;
  a {
    color: $nefo_f;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


