//
// Frontpage
//
.l-region--news {
  img {
    max-width: 100%;
    height: auto;
  }
}

.nefo-view-block-news-title,
.nefo-view-block-news-desc {
  margin: 0 $mobile-content-margin;
  @include breakpoint($tab) {
    margin: 0;
  }
}

.nefo-view-block-news-desc {
  padding-top: 10px;
  p {
    font-size: $view-list-title-font-size;
    line-height: $view-list-title-line-height;
  }
}
.nefo-view-block-news-title {
  height: 6em;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
}
.view-block-news-link-all,
.view-block-newsipbes-link-all {
  @extend %nefo-front-readmore-nav;
  text-align: right;
  a {
    @extend %nefo-front-readmore-nav-link;  
  }
}
.view-nefo-view-block-news {
  margin-top: 20px;
  .view-content {
    @include clearfix;
  }
}
.view-nefo-view-block-newsipbes {
  margin-top: 20px;

  .view-content {
    border-bottom: $separator-color 1px solid;
  }
}
.nefo-view-block-newsipbes-row {
  margin: 0 $mobile-content-margin;
  @include breakpoint($tab) {
    margin: 0;
  }
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
  padding-bottom: 1em;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
}

.node--nefo-news {
  .node__submitted,
  .field--name-field-nefo-news-category,
  .field--name-body,
  .field--name-field-nefo-target-url {
    padding-left: 1rem;
    padding-right: 1rem;
    @include breakpoint($tab) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}