//
// Frontpage
//

// BIODIV
.view-nefo-view-block-news {
  margin-top: 0;
  @include breakpoint(min-width $tablet-width-2) {
    margin-top: $vert-spacing-unit;
  }
  .view-content,
  .view-footer {
    @include clearfix;
  }
}
.nefo-view-block-news-row {
  @include breakpoint(max-width $tablet-width-2) {
    margin: $vert-spacing-unit 0;
    border-bottom: 1px solid $separator-color;
  }
}
.nefo-view-block-news-title {
  margin: 0;
  margin-bottom: $mobile-content-margin;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
  @include breakpoint($tab-3-1) {
    margin: 0 $mobile-content-margin;
    height: 10em;
  }
  @include breakpoint($tab-3-2) {
    margin: 0 $mobile-content-margin;
    height: 8em;
  }
  @include breakpoint($desk) {
    margin: 0 $mobile-content-margin;
    height: 6em;
  }
}
.nefo-view-block-news-img {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    @include breakpoint(min-width $tablet-width-2) {
      max-height: ($image-block-height - 70);
    }
  }
  @include breakpoint(max-width $tablet-width-2) {
    margin-bottom: $mobile-content-margin;
  }
}
.view-block-news-link-all,
.view-block-newsipbes-link-all {
  @include nefo-front-readmore-nav;
  text-align: right;
  a {
    @include nefo-front-readmore-nav-link;
  }
}


