//
// Frontpage
//

//
// Page
//
.nefo-view-list-article-row {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1em;
    border-bottom: $separator-width solid $separator-color;
    clear: both;
}
.nefo-view-list-article-date {
  margin-bottom: 1em;
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height;
}
.nefo-view-list-article-img-caption {
  font-size: $view-list-caption-font-size;
  line-height: $view-list-caption-line-height;
}
.nefo-view-list-article-img-credit {
  font-size: $view-list-credit-font-size;
  line-height: $view-list-credit-line-height;
}
.nefo-view-list-article-link {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
.nefo-view-list-article-col1 {
  margin-top: 8px;
}

// Desktop
@include breakpoint($desk) {
  // List
  .nefo-view-list-article-content {
    clear: both;
    overflow: hidden;
  }
  .nefo-view-list-article-img {
    margin-bottom: 8px;
  }
  .nefo-view-list-article-col1 {
    margin-right: 130px;
    margin-top: 0;
  }
  .nefo-view-list-article-col2 {
    width: 120px;
    float: right;
  }  
}

