// Frontpage
.block--views-nefo-view-block-press-release-block {
  clear: both;
}
.nefo-view-block-press-release-img {
  img {
    width: 100%;
    max-width: 430px;
    height: auto;
  }
}
.nefo-view-block-press-release-img-credit {
  padding-top: 4px;
  font-size: $view-list-credit-font-size;
  font-weight: bold;
}
.nefo-view-block-press-release-link {
  @include nefo-front-readmore-nav-button;
}
.nefo-view-block-press-release-link-all {
  float: right;
  a {
    @include nefo-front-readmore-nav-link;
    vertical-align: middle;
  }
}
.nefo-view-block-press-release-title {
  margin-bottom: 0.5em;
  margin-top: 0;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
}

// Page
.nefo-view-list-press-release-row {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1em;
    border-bottom: $separator-width solid $separator-color;
    clear: both;
}
.nefo-view-list-press-release-date {
  margin-bottom: 1em;
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height;
}
.nefo-view-list-press-release-img-caption {
  font-size: $view-list-caption-font-size;
  line-height: $view-list-caption-line-height;
}
.nefo-view-list-press-release-img-credit {
  font-size: $view-list-credit-font-size;
  line-height: $view-list-credit-line-height;
}
.nefo-view-list-press-release-link {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
.nefo-view-list-press-release-col1 {
  margin-top: 8px;
}

// Mobile
@include breakpoint($mobile) {
  // Frontpage
  .nefo-view-block-press-release-col2 {
    margin-top: $vert-spacing-unit;
  }
}
// Tab
@include breakpoint($tab) {
  // Frontpage
  .nefo-view-block-press-release-col2 {
    margin-top: $vert-spacing-unit;
  }
}
// Desktop
@include breakpoint($desk) {
  // Frontpage
  .nefo-view-block-press-release-col1 {
    float: left;
   }
  .nefo-view-block-press-release-col2 {
    margin-left: 450px;
  }
  .nefo-view-block-press-release-nav {
    @include nefo-front-readmore-nav;
  }
  .nefo-view-block-press-release-link-all {
    padding-left: 1em;
    float: none;
  }
  // List
  .nefo-view-list-press-release-content {
    clear: both;
    overflow: hidden;
  }
  .nefo-view-list-press-release-img {
    margin-bottom: 8px;
  }
  .nefo-view-list-press-release-col1 {
    margin-right: 130px;
    margin-top: 0;
  }
  .nefo-view-list-press-release-col2 {
    width: 120px;
    float: right;
  }  
}


