//
// Frontpage
//
// Stellungnahmen, Faktenblätter, Berichte
.block-products-heading {
  h2 {
    @include nefo-heading;
  }
}
.block--views-nefo-view-block-opinion-block,
.block--views-nefo-view-block-factsheet-block,
.block--views-nefo-view-block-report-block {
  border-bottom: 4px solid $events-bg;
  h2 {
    margin-bottom: 20px;
  }
}
.nefo-view-block-opinion-row,
.nefo-view-block-factsheet-row,
.nefo-view-block-report-row{
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.nefo-view-block-opinion-img,
.nefo-view-block-factsheet-img,
.nefo-view-block-report-img {
  position: relative;
  img {
    width: 100%;
    height: auto;
    max-width: 360px;
  }
  &::after {
    @include blackoverlay;
  }
}
.nefo-view-block-opinion-text,
.nefo-view-block-factsheet-text,
.nefo-view-block-report-text {
  position: absolute;
  top: 50px;
  z-index: 2;
  padding: 0 8px;
  @include breakpoint($tab) {
    top: 20px;
  }
}
.nefo-view-block-opinion-title,
.nefo-view-block-factsheet-title,
.nefo-view-block-report-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  padding: 0;
  margin-bottom: 8px;
  @include breakpoint($tab) {
    margin-bottom: 4px;
    font-size: 18px;
  }   
  a {
    color: white;
    text-decoration: none;
  }
}
.nefo-view-block-opinion-desc,
.nefo-view-block-factsheet-desc,
.nefo-view-block-report-desc {
  font-size: 16px;
  line-height: 100%;
  padding: 0;
  @include breakpoint($tab) {
    font-size: 14px;
  }   
  a {
    color: white;
    text-decoration: none;
  }
}
.nefo-view-block-opinion,
.nefo-view-block-factsheet,
.nefo-view-block-report,
.nefo-view-block-opinion-nav,
.nefo-view-block-factsheet-nav,
.nefo-view-block-report-nav {
  @include nefo-front-readmore-nav;
  display: inline-block;
  @include breakpoint($tab) {
    display: block;
  }
  padding-left: 0;
}
.nefo-view-block-opinion,
.nefo-view-block-factsheet,
.nefo-view-block-report {
  text-transform: uppercase;
  padding-right: 0;
  font-size: 16px;
  @include breakpoint($desk) {
    letter-spacing: -1px;
  }
}
.nefo-view-block-opinion-nav,
.nefo-view-block-factsheet-nav,
.nefo-view-block-report-nav {
  float: right;
  padding-top: $mobile-content-margin;
  padding-left: 0;
}
.nefo-view-block-opinion-link-all,
.nefo-view-block-factsheet-link-all,
.nefo-view-block-report-link-all {
  a {
    @include nefo-front-readmore-nav-link;
    padding-right: 15px;
    @include breakpoint($desk) {
      padding-right: 8px;
    }
  }
}

// Studien 
.view-nefo-view-block-study {
  margin-top: $vert-spacing-unit;
  
  .nefo-view-block-study-row {
    @include nefo-front-study-block;
    @include breakpoint($mobile) {
      height: 6em;
      margin-bottom: $mobile-content-margin;
    }
    @include breakpoint($tab) {
      margin-bottom: $vert-spacing-unit;
      &:nth-of-type(3) {
        clear:both !important;
      }
    }
  }
  .nefo-view-block-study-title {
    height: 100%;
    display: flex;
    align-items: center
  }
  .view-footer {
    clear: both;
  }
  .view-block-study-link-all {
    float: right;
    @include nefo-front-readmore-nav;
    a {
      @include nefo-front-readmore-nav-link;
    }
  }
}

//
// Page
//

// Listen
.nefo-view-list-opinion-row ,
.nefo-view-list-factsheet-row,
.nefo-view-list-study-row,
.nefo-view-list-workshop-row,
.nefo-view-list-report-row,
.nefo-view-list-product-row {
  margin: 1em 0;
}
.nefo-view-list-opinion-title,
.nefo-view-list-factsheet-title,
.nefo-view-list-study-title,
.nefo-view-list-workshop-title,
.nefo-view-list-report-title,
.nefo-view-list-product-title {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
.nefo-view-list-opinion-desc,
.nefo-view-list-study-desc,
.nefo-view-list-workshop-desc,
.nefo-view-list-report-desc {
  font-size: $view-list-desc-font-size;
  line-height: $view-list-desc-line-height;
  text-align: left;
}

// Unsere Themen
.nefo-view-list-product-row {
  margin-bottom: 2em;
}
.nefo-view-list-product-title,
.nefo-view-list-product-icon,
.nefo-view-list-product-date,
.nefo-product-icon {
  vertical-align: middle;
}
.nefo-view-list-product-icon {
    padding: 0;
}
.nefo-view-list-product-date {
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height;
  white-space: nowrap;
}
.nefo-product-icon {
  width: 50px;
  height: 50px;
  @include breakpoint($mobile) {
    width: 25px;
    height: 25px;
  }
  @include breakpoint($tab) {
    width: 40px;
    height: 40px;    
  }
}

// TagCloud
.tagclouds-term {
  padding: 1em 1em;
  vertical-align: baseline;
  line-height: $tagclouds-term-line-height; 
}
.block--tagclouds {
  text-align: center;
}
// Icons
.nefo-pdf-icon {
  padding-left: 8px;
}

