//
// Frontpage
//
// Aktuelle Produkte: Stellungnahmen, Faktenblätter, Berichte, Studien, NeFo-Artikel
.view-nefo-block-current-products {
  margin-top: 0;
  @include breakpoint(min-width $tablet-width-2) {
    margin-top: $vert-spacing-unit;
  }
  
  .nefo-block-current-products-row {
    @include breakpoint(max-width $tablet-width-2) {
      margin: $vert-spacing-unit 0;
      border-bottom: 1px solid $separator-color;
    }
    @include breakpoint(min-width $tablet-width-2) {
      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        margin-bottom: $vert-spacing-unit;
      }
      &:nth-of-type(4) {
        clear:both !important;
      }
    }
  }//nefo-block-current-products-row
}//view-nefo-block-current-products

.nefo-block-current-products-title {
  margin: 0;
  margin-bottom: $mobile-content-margin;
  a {
    color: $h2-bg;
    text-decoration: none;
  }
  @include breakpoint($tab-3-1) {
    margin: 0 $mobile-content-margin;
    height: 10em;
  }
  @include breakpoint($tab-3-2) {
    margin: 0 $mobile-content-margin;
    height: 8em;
  }
  @include breakpoint($desk) {
    margin: 0 $mobile-content-margin;
    height: 6em;
  }
}
.nefo-block-current-products-img {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    @include breakpoint(min-width $tablet-width-2) {
      max-height: ($image-block-height - 70);
    }        
  }
  @include breakpoint(max-width $tablet-width-2) {
    margin-bottom: $mobile-content-margin;
  }
}
.nefo-block-current-products-link-all {
  @include nefo-front-readmore-nav;
  text-align: right;
  a {
    @include nefo-front-readmore-nav-link;
  }
}

//
// Page
//

// Workshops
.nefo-view-list-workshop-row {
  margin: 1.5em 0;
}

// NeFo-Produkt Bericht, NeFo-Produkt Faktenblatt, NeFo-Produkt Stellungnahme, NeFo-Produkt Studie
.nefo-view-list-document-row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: $vert-spacing-unit;
  min-height: ($image-document-icon-height + 25);
  border-bottom: $separator-width solid $separator-color;
  clear: both;
}

@include breakpoint($mobile) {
  .nefo-view-list-document-icon {
   box-shadow: 8px 8px 4px #888;
  }
  .nefo-view-list-document-icon img {
   max-width: ($image-document-icon-width - 30);
   height: auto;
  }
  .nefo-view-list-document-col1 {
    max-width: ($image-document-icon-width - 30);
  }
}
@include breakpoint($tab) {
  .nefo-view-list-document-icon {
   box-shadow: 8px 8px 4px #888;
  }
  .nefo-view-list-document-icon img {
   max-width: ($image-document-icon-width - 30);
   height: auto;
  }
  .nefo-view-list-document-col1 {
    width: ($image-document-icon-width - 30);
    float: left;
  }
  .nefo-view-list-document-col2 {
    margin-left: ($image-document-icon-width - 14);;
    width: auto;
  }
}
@include breakpoint($desk) {
  .nefo-view-list-document-icon {
   box-shadow: 8px 8px 4px #888;
   max-height: 212px;
  }
  .nefo-view-list-document-icon img {
   max-height: 212px;
  }
  .nefo-view-list-document-col1 {
    width: $image-document-icon-width;
    float: left;
  }
  .nefo-view-list-document-col2 {
    margin-left: ($image-document-icon-width + 20);
    width: auto;
  }
}


// Unsere Themen
.view-nefo-view-list-products-by-term {
  margin-top: $vert-spacing-unit;
}
.nefo-view-list-product-row {
  margin-bottom: 2em;
}
.nefo-view-list-product-title,
.nefo-view-list-product-icon,
.nefo-view-list-product-date,
.nefo-product-icon {
  vertical-align: middle;
}
.nefo-view-list-product-icon {
    padding: 0;
}
.nefo-view-list-product-date {
  font-size: $date-font-size;
  line-height: $date-line-height;
  white-space: nowrap;
}
.nefo-product-icon {
  width: 50px;
  height: 50px;
  @include breakpoint($mobile) {
    width: 25px;
    height: 25px;
  }
  @include breakpoint($tab) {
    width: 40px;
    height: 40px;
  }
}

// TagCloud
.tagclouds-term {
  padding: 1em 1em;
  vertical-align: baseline;
  line-height: $tagclouds-term-line-height;
}
.block--tagclouds {
  text-align: center;
}


// Full node
.node--nefo-product-document--full {
  .node__content {
    .field--name-field-nefo-description {
        margin-top: 1em;
    }
    @include breakpoint($desk) {
        @include layout(2 6, 0.01) {
          .vud-widget vud-widget-thumbs {
            @include grid-span(2, 1)
          }
          .field--name-field-nefo-product-icon {
            @include grid-span(1, 1)
            max-height: 212px;
          }
          .field--name-field-nefo-description {
            @include grid-span(1, 2)
            height: 75%;
            margin-top: 0;
          }
          .field--name-field-nefo-product-document {
            @include grid-span(1, 2)
          }
          .nefo-link-back-list-all {
            clear: both !important;
            @include grid-span(2, 1)
          }
        }
    }//desk
    .field--name-field-nefo-product-icon {
        img {
          max-height: 212px;
          box-shadow: 8px 8px 4px #888;
        }        
    }
  }
}

// Title with icon
.nefo-page-title-icon {
}
.nefo-page-title-text {
  margin-left: 8px;
}

