@import "variables/fonts";
@import "variables/colors-hsl";

@mixin blackoverlay {
  content: " ";
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

%no_style_link {
  a {
    text-decoration: none;
  }
}

//
// Frontpage
//

.nefo-view-block-opinion-row,
.nefo-view-block-factsheet-row,
.nefo-view-block-report-row{
  position: relative;
  overflow: hidden;
}

.nefo-view-block-opinion-img,
.nefo-view-block-factsheet-img,
.nefo-view-block-report-img {
  position: relative;
  &::after {
    @include blackoverlay;
  }
}

.nefo-view-block-opinion-title,
.nefo-view-block-factsheet-title,
.nefo-view-block-report-title {
  @extend %no_style_link;

  a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 100px;
    z-index: 2;

    padding-left: 10px;
  }
}

.nefo-view-block-opinion-desc,
.nefo-view-block-factsheet-desc,
.nefo-view-block-report-desc {
  @extend %no_style_link;

  a {
    color: white;
    position: absolute;
    top: 130px;
    z-index: 2;
    padding-left: 10px;

    font-size: 16px;
  }
}

.nefo-view-block-opinion-link-all,
.nefo-view-block-factsheet-link-all,
.nefo-view-block-report-link-all{
  float: right;
}

.nefo-view-block-opinion-nav,
.nefo-view-block-factsheet-nav,
.nefo-view-block-report-nav {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.block--views-nefo-view-block-opinion-block,
.block--views-nefo-view-block-factsheet-block,
.block--views-nefo-view-block-report-block {

  border-bottom: 4px solid $events-bg;
}


//
// Page
//

// List
.nefo-view-list-opinion-row , 
.nefo-view-list-factsheet-row,
.nefo-view-list-study-row,
.nefo-view-list-workshop-row,
.nefo-view-list-report-row,
.nefo-view-list-product-row {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
.nefo-view-list-opinion-title, 
.nefo-view-list-factsheet-title,
.nefo-view-list-study-title,
.nefo-view-list-workshop-title,
.nefo-view-list-report-title,
.nefo-view-list-product-title {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
.nefo-view-list-opinion-desc, 
.nefo-view-block-factsheet-desc ,
.nefo-view-list-study-desc, 
.nefo-view-list-workshop-desc,
.nefo-view-list-report-desc {
  font-size: $view-list-desc-font-size;
  line-height: $view-list-desc-line-height;
  text-align: justify;
}

// Unsere Themen
.nefo-view-list-product-row {
  margin-bottom: 2em;
}
.nefo-view-list-product-title,
.nefo-view-list-product-icon,
.nefo-view-list-product-date,
.nefo-product-icon {
  vertical-align: middle;
}
.nefo-view-list-product-icon {
  padding: 0 8px;
}
.nefo-view-list-product-date {
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height;
  white-space: nowrap;
}
.nefo-product-icon {
  width: 50px;
  height: 50px;
}


// Interviews, News, Artikel, Pressemitteilungen
.nefo-view-list-interview-row,
.nefo-view-list-news-row,
.nefo-view-list-article-row,
.nefo-view-list-press-release-row {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 1em;
  border-bottom: $separator-width solid $seperator-color;
  clear: both;
}
.nefo-view-list-interview-content,
.nefo-view-list-news-content,
.nefo-view-list-article-content,
.nefo-view-list-press-release-content {
  clear: both;
}
.nefo-view-list-interview-link,
.nefo-view-list-news-link,
.nefo-view-list-article-link,
.nefo-view-list-press-release-link {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
}
.nefo-view-list-interview-img,
.nefo-view-list-news-img,
.nefo-view-list-article-img,
.nefo-view-list-press-release-img {
  margin-bottom: 8px;
}
.nefo-view-list-interview-img-caption,
.nefo-view-list-news-img-caption,
.nefo-view-list-article-img-caption,
.nefo-view-list-press-release-img-caption {
  font-size: $view-list-caption-font-size;
  line-height: $view-list-caption-line-height;
}
.nefo-view-list-interview-img-credit,
.nefo-view-list-news-img-credit,
.nefo-view-list-article-img-credit,
.nefo-view-list-press-release-img-credit {
  font-size: $view-list-credit-font-size;
  line-height: $view-list-credit-line-height;
}
.nefo-view-list-interview-col2,
.nefo-view-list-news-col2,
.nefo-view-list-article-col2,
.nefo-view-list-press-release-col2 {
  width: 120px;
  float: right;
}
.nefo-view-list-interview-col1,
.nefo-view-list-news-col1,
.nefo-view-list-article-col1,
.nefo-view-list-press-release-col1 {
  margin-right: 130px;
}
// News, Artikel, Pressemitteilungen
.nefo-view-list-news-date,
.nefo-view-list-article-date,
.nefo-view-list-press-release-date {
  margin-bottom: 1em;
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height; 
}
// Interviews, News
.nefo-view-list-interview-category,
.nefo-view-list-news-category {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
  padding-bottom: 1em;
}
// Interviews
.nefo-view-list-interview-link-all {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
  margin-top: 1em;
}

// Literaturtipps
.nefo-view-list-literature-tip-row {
  padding-top: 2em;
  padding-bottom: 4em;
  margin-left: 0;
  margin-right: 0;
  min-height: 300px;
  border-bottom: $separator-width solid $seperator-color;
  clear: both;
}
.nefo-view-list-literature-tip-col1 {
  width: 150px;
  float: left;
}
.nefo-view-list-literature-tip-col2 {
  margin-left: 160px;
  width: auto;
}
.nefo-view-list-literature-tip-title,
.nefo-view-list-literature-tip-desc {
  padding-left: 1em;
}
.nefo-view-list-literature-tip-img {
 box-shadow: 8px 8px 4px #888;
}
.nefo-view-list-literature-tip-img img {
 max-height: 212px;
}
.nefo-view-list-literature-tip-link {
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
  padding-left: 1em;
}
.nefo-view-list-literature-tip-date {
  margin-bottom: 1em;
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height;
}

// TagCloud
.tagclouds-term {
  padding: 1em 1em;
  vertical-align: baseline;
  line-height: $tagclouds-term-line-height; 
}
.block--tagclouds {
  text-align: center;
}
// Icons
.nefo-pdf-icon {
  padding-left: 8px;
}

