#block-search-form {
  background-color: darkgray;
  padding: 20px 0;
  form {
    display: flex;
    .form-type-textfield {
      flex-grow: 1;
      input.form-text {
        width: 100%;
        border-style: none none solid;
        background-color: transparent;
      }
    }
  }
}