// Shariff sharing buttons
#block-shariff-shariff-block {
  background-image: none;
  border-bottom: none;
  padding: $vert-spacing-unit 0;
  a {
    color: white;
  }
  clear: both;
}

// Social Links: NeFo Social Links Top & Bottom
#block-nefo-blocks-builder-nefo-social-links-top {
  ul.nefo-social-links-top {
    padding: 0;
    margin: 4px $horz-spacing-unit 0 (0.5 * $horz-spacing-unit);
    @include breakpoint($tab) {
      margin: 4px (2 * $horz-spacing-desk) 0 $horz-spacing-desk;
    }
    overflow: hidden;
    list-style: none;
    line-height: 1;
    li {
      float: right;
      padding: 0;
      margin: 0 0 0 3px;
      a {
        @include nefo-top-menu-link;
        @include breakpoint($mobile) {
          font-size: 20px;
        }
        @include breakpoint($tab) {
          font-size: 22px;
        }
        @include breakpoint($desk) {
          font-size: 24px;
        }
      }
    }    
  }
}
#block-nefo-blocks-builder-nefo-social-links-top {
  display: table-cell;
  vertical-align: middle;
  ul.nefo-social-links-top {
    li {
        @include breakpoint($mobile) {
          padding-left: 8px;
        }
        @include breakpoint($tab) {
          padding-left: 16px;
        }
        @include breakpoint($desk) {
          padding-left: 24px;
        }
    }
  }
}
