// NeFo Sidebar Banner
.nefo-sidebar-banner {
  display: none;
  @include breakpoint($tab, true) {
    display: block;
  }
  margin-top: $content-top-margin;
  .nefo-sidebar-banner-row {
    width: 100%;
    padding: 0;
    color: $text-color;
    text-transform: uppercase;
    height: 64px;     
  }
  .nefo-sidebar-banner-row-img {
    line-height: 64px;
    vertical-align: middle;
    img {
      margin-top: 16px;
      width: 32px;
      height: 32px;
      border: 0;
    }
    a {
      text-decoration: none;
    }
  }
  .nefo-sidebar-banner-row-link {
    line-height: 64px;
    vertical-align: top;
    a {
      font-size: $footer-font-size;
       @include breakpoint($desk, true) {
         font-size: $footer-font-size + 2px;
      }
      text-decoration: none;
      color: inherit;
      padding-left: 8px;
      vertical-align: middle;
      &:hover {
        color: inherit;
      }
      &:visited {
        color: inherit;
      }
    }
  }
}
