/*
 * Sample SCSS for adding Superfish styles to themes.
 *
 * Instructions:
 *
 * 1. Change the #block-superfish-1 (below) to the ID of your Superfish menu.
 *
 * 2. Add the SCSS to your theme, either as a separate SCSS file or as a part of the main SCSS file.
 *
 * 3. Note that by removing the .sf-style-none, the style will be applied to the menu regardless of
 *    the Style selected in the block configuration.
 *
 */

// You can add these variables to your _base.scss
$superfish-1-color: #fff;
$superfish-1-background-color-level-first: $nav-main-background;
$superfish-1-background-color-level-second: $nefo-e;
$superfish-1-background-color-level-third: $nefo-n;
$superfish-1-background-color-level-fourth: $nefo-e;

.l-region--navigation {
  /* not quite sure exactly why 5em is the correct size.
     the links have 1em vertical padding. first level + second level = 4em.
     that would mean one line of text is .5em high. is that right?
     */
  //height: 5em;
  height: 43px;
  font-size: 20px;
  font-weight: bold;
  background-color: $superfish-1-background-color-level-second;
  margin-top: 25px;
}

nav#block-superfish-1 {
  //background-color: $nav-main-background;
  //padding-left: 100px;
  //padding-right: 100px;
  padding-left: 0px;
  padding-right: 0px;

  margin-top: 5px;
  @include breakpoint($desk) {
    margin-top: 0px;
  }
  
  .sf-menu.sf-horizontal.sf-shadow ul,
  .sf-menu.sf-vertical.sf-shadow ul,
  .sf-menu.sf-navbar.sf-shadow ul ul {
    background: none;
    padding: 0 8px 9px 0 !important;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .sf-menu>li:nth-last-child(-n+2) {
    background-color: $nav-secondary-bg;
    a {
      color: $nav-secondary-color;
      &:hover {
        background: white;
        outline: 0;
      }
    }
  }

  .sf-style-none {
    float: left;
    margin: 0;
    padding: 0;
    &.sf-navbar {
      width: 100%;
      background: $superfish-1-background-color-level-first;
    }
    .sf-depth-1>ul {
      background-color: $superfish-1-background-color-level-second;
    }
    ul {
      padding-left: 0;
    }
    a {
      text-decoration: none;
      color: $superfish-1-color;
      padding: 0.75em 1em;
      &#superfish-1-toggle {
        padding-top: 0;
        padding-bottom: 0;
      }
      &#superfish-1-toggle:hover {
        background: none;
      }
      &.sf-with-ul {
        padding-right: 2.25em;
      }
      &:focus {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
      &:hover {
        background: $nefo-e-hover;
        outline: 0;
      }
      &:active {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
    }
    span {
      &.nolink {
        color: $superfish-1-color;
        padding: 0.75em 1em;
        &.sf-with-ul {
          padding-right: 2.25em;
        }
        &:hover {
          background: $superfish-1-background-color-level-fourth;
          outline: 0;
        }
      }
      &.sf-description {
        color: $superfish-1-color;
        display: block;
        font-size: 0.833em;
        line-height: 1.5;
        margin: 5px 0 0 5px;
        padding: 0;
      }
    }
    li {
      background: $superfish-1-background-color-level-first;
      li {
        background: $superfish-1-background-color-level-second;
        li {
          background: $superfish-1-background-color-level-third;
        }
      }
      &:hover,
      &.sfHover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
    }
    .sf-sub-indicator {
      background-image: url('../images/dropdown-arrows.png');
    }
  }
  &>ul {
    padding-left: 15px;
    padding-right: 15px;
  }
}