// Top menu
#block-superfish-2 ul.menu li {
  display: inline; 
  margin-right: 1em;
  a {
    @include nefo-top-menu-link;
  }
}

#block-superfish-2 ul.menu {
  @include breakpoint($mobile) {
    li:nth-child(3) {
      display: none;
    }   
  }
}
