// Top menu
#block-superfish-2 {
  padding-top: 24px;
  padding-left: 2em;
  float: left;
}
#block-superfish-2 ul.menu li {
  display: inline; 
  margin-right: 1em;
  a {
    @extend %nefo-top-menu-link;
  }
}