.tb-megamenu {
  @include breakpoint($desk, true) {
    background-color: $navigation-bg-color;
    border-bottom: 3px solid $navigation-border-color;
    //margin-bottom: 3px;
  }

  .nav-collapse {
    > .nav {
      > {
        li {
          background-color: $main-menu-bg-color;
          //margin-bottom: 3px;
          margin-bottom: 0;
          > a {
            border-color: $main-menu-bg-color;
            //color: $main-menu-color !important;
            color: $main-menu-color;
            text-decoration: none;
            &:hover, &:focus {
              color: $main-menu-hover-color;
              text-decoration: underline;
              border-color: $main-menu-bg-hover-color;
              background-color: $main-menu-bg-hover-color;
            }
          }
        }
      }
      li.active > a {
        background-color: $main-menu-bg-active-color;
        border-color: $main-menu-bg-active-color;
        &:hover, &:focus {
          color: $main_menu_hover_active_color;
          background-color: $main-menu-bg-active-color;
          border-color: $main-menu-bg-active-color;
        }
      }    
    }
  }
  
  .btn-navbar {
    margin-bottom: 0;
    width: 50px;
    height: 40px;
    color: $main-menu-bg-active-color;
  }
  .btn {
    font-size: 16px;
    line-height: 18px;
  }
  @include breakpoint($tab, true) {
    .btn-navbar {
      width: 50px;
      height: 50px;
    }
    .btn {
      font-size: 24px;
      line-height: 24px;
    }
  }  
  
  .dropdown-menu {
    background-color: $dropdown-bg-color;
    border-bottom: 3px solid $main-menu-bg-active-color;
    li > a {
      color: $dropdown-color !important;
      text-decoration: none;
      background-color: $dropdown-bg-color;
      border-top: 1px solid $navigation-shadow-color;
      &:hover, &:focus {
        color: $dropdown-hover-color;
        background-color: inherit;
        text-decoration: underline;
      }
    }
    .active > a {
      background-image: none;
      background-color: $dropdown-bg-color;
      &:hover, &:focus {
        color: $dropdown-hover-color;
        background-image: none;
        background-color: inherit;
      }
    }
  }
  
  .nav li.dropdown {
    &.open > .dropdown-toggle {
      color: $main-menu-hover-color;
      background-color: $main-menu-bg-hover-color;
      border-color: $main-menu-bg-active-color;
    }
    &.active > .dropdown-toggle, &.open.active > .dropdown-toggle {
      background-color: $main-menu-bg-active-color;
      color: $dropdown-active-color;
      border-color: $main-menu-bg-active-color;
    }
  }
  .nav {
    > li.dropdown.open.active {
      > a {
        &:hover {
          background-color: $main-menu-bg-active-color;
          border-color: $main-menu-bg-active-color;
        }
      }
    }
  }
  
  ul.level-0 {
    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(7) {
      background-color: #FFF;
      a {
        color: $navigation-bg-color;
        border-color: #FFF;
      }
    }    
  }
  

  ul.tb-megamenu-subnav .nav-child{
    li {
      background-color: $dropdown-bg-color;
      a {
        border-color: $navigation-shadow-color;
      }
    }    
  }
}//.tb-megamenu



