$main-background: $nefo-o;
$main-color : $nefo-e;
$main-hover-background : $nefo-e;
$main-hover-color : white;
$dropdown-bottom-border : $nefo-o;
$active-background: $nefo-n;
.tb-megamenu {
  background-color: $main-background;
  .nav {
    margin: 0;
    > {
      li {
        float: left;
        margin-left: 0;
        > a {
          border-right: 0;
          border-top: 0;
          color: #fff;
          font-weight: bold;
          padding: 15px 20px;
          text-shadow: none;
          text-decoration: none;
          &:focus, &:hover {
            background-color: #fff;
            color: #e54e4b;
            text-decoration: underline;
            text-shadow: none;
            outline: none;
          }
        }
      }
      .active > a {
        background-color: $active-background;
        color: #fff;
        text-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;
        &:hover, &:focus {
          background-color: #e54e4b;
          color: #fff;
          text-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
  .btn-navbar {
    display: none;
    float: left;
    padding: 10px;
    margin: 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #e8e8e8;
    *background-color: #d9d9d9;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
      color: #fff;
      background-color: #d9d9d9;
      *background-color: #cccccc;
    }
    &:active, &.active {
      background-color: #bfbfbf \9;
    }
  }
  .dropdown-menu {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    li {
      > a {
        border-top: 1px solid #eee;
        padding: 5px 20px;
        text-shadow: none;
      }
    }
  }
  .dropdown-menu .disabled > a {
    color: #999;
    &:hover {
      color: #999;
      background-color: transparent;
    }
  }
  .nav li.dropdown {
    &.open > .dropdown-toggle {
      background-color: #fff;
      color: #e54e4b;
    }
    &.active > .dropdown-toggle, &.open.active > .dropdown-toggle {
      background-color: #e54e4b;
      color: #fff;
    }
  }
  .row-fluid + .row-fluid {
    border-top: 1px solid #ddd;
  }
  .tb-block {
    .block-title {
      font-size: 12px;
      color: #333;
      display: block;
      line-height: 20px;
      margin: 0 0 15px;
      text-transform: uppercase;
    }
  }
  .mega-caption {
    color: #999;
    font-size: 12px;
    margin-top: 3px;
    font-weight: normal;
  }
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid $dropdown-bottom-border;
    border-top: none;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    .divider {
      *width: 100%;
      height: 1px;
      margin: 9px 1px;
      *margin: -5px 0 5px;
      overflow: hidden;
      background-color: #e5e5e5;
      border-bottom: 1px solid #fff;
    }
    li > a {
      clear: both;
      color: #333;
      display: block;
      line-height: 20px;
      font-weight: normal;
      padding: 3px 20px;
      text-shadow: none;
      white-space: nowrap;
      text-decoration: none;
      &:hover, &:focus {
        background-color: inherit;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        //color: #e54e4b;
        text-decoration: underline;
      }
    }
  }
  .dropdown-submenu:hover > a {
    background-color: inherit;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #e54e4b;
    text-decoration: none;
  }
  .dropdown-menu {
    .active > a {
      color: #eee;
      text-decoration: none;
      outline: 0;
      background-color: #e54e4b;
      &:hover {
        color: #eee;
        text-decoration: none;
        outline: 0;
        background-color: #e54e4b;
      }
    }
    .disabled > a {
      color: #999;
      &:hover {
        color: #999;
        text-decoration: none;
        background-color: transparent;
        background-image: none;
        cursor: default;
      }
    }
  }
  .nav {
    li.dropdown {
      &.active > .dropdown-toggle {
        background-color: $active-background;
        border-color: #444;
        color: #eee;
      }
      &.open {
        &.active > .dropdown-toggle {
          background-color: $active-background;
          border-color: #444;
          color: #eee;
        }
        > .dropdown-toggle .caret {
          border-top-color: #eee;
          border-bottom-color: #eee;
        }
      }
      > .dropdown-toggle {
        .caret {
          border-top-color: #666;
          border-bottom-color: #666;
          margin-top: 8px;
        }
        &:hover .caret {
          border-top-color: #eee;
          border-bottom-color: #eee;
        }
      }
      &.active > .dropdown-toggle .caret, &.open.active > .dropdown-toggle .caret {
        border-top-color: #eee;
        border-bottom-color: #eee;
      }
    }
    > li.dropdown.open.active > a:hover {
      background-color: #e54e4b;
      border-color: #444;
      color: #eee;
    }
  }
  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid #000;
    content: "";
  }
  .dropdown-submenu {
    > a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #cccccc;
      margin-top: 5px;
      margin-right: -10px;
    }
    &:hover > a:after {
      border-left-color: #eee;
    }
  }
}

@media (max-width: 979px) {
  .tb-megamenu {
    .row-fluid + .row-fluid {
        padding-top: 10px;
        border-top: 1px solid #222;
    }
  }
}

.block-view-demo .views-field-title a {
  border-top: none !important;
  color: #eee;
  padding: 0 !important;
}

.tb-megamenu .block-view-demo {
  .views-field-field-image {
    float: left;
    img {
      border: 1px solid #333;
      margin: 0 20px 0 0;
      max-width: none !important;
      padding: 4px;
      width: auto;
    }
  }
  .item-list ul li {
    border-bottom: 1px solid #333;
    margin: 0;
    min-height: 60px;
    padding: 10px 0;
    &.views-row-first {
      padding-top: 0;
    }
  }
  .views-field-title a {
    border-top: none;
    color: #aaa;
    padding: 0;
  }
  a {
    &:hover, &:focus {
      background: none !important;
      border: none !important;
      color: #e54e4b;
      text-decoration: none;
    }
  }
}