//
// Block
//
.nefo-view-block-row {
  .nefo-view-block-image-thumbnail,
  .nefo-view-block-video-thumbnail {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  .nefo-view-block-image-credit {
    font-size: $credits-font-size;
    font-weight: bold;
    margin-bottom: 4px;
  }
}
.nefo-view-block-nav-link-all {
  @include nefo-front-readmore-nav;
  text-align: right;
  a {
    @include nefo-front-readmore-nav-link;
  }
}


//
// Page
//
.nefo-view-article-teaser-list-row {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: $separator-width solid $separator-color;
  clear: both;
}
.nefo-article-teaser-horizontal-layout {
}
.nefo-article-teaser-header-container {
  .nefo-article-teaser-category,
  .nefo-article-teaser-date,
  .nefo-article-teaser-title-meta {
    margin: 0;
  }
  .nefo-article-teaser-date {
    font-size: $date-font-size;
    line-height: $date-line-height;
  }
  h2.nefo-article-teaser-title-smaller,
  h2.nefo-article-teaser-title-bold {
    width: 100%;
  }
  h2.nefo-article-teaser-title-bold {
    font-weight: 600;
  }
  .nefo-article-teaser-title-meta {
    margin-bottom: 0.83em;
    font-weight: 600;
    color: #4d4d4d;
  }
}
.nefo-article-teaser-with-category {
  width: 100%;
  @include breakpoint(max-width ($desk - 1)) {
    .nefo-article-teaser-category {
      margin-bottom: 0.5em;
    }
  }
  @include breakpoint($desk) {
    .nefo-article-teaser-category {
      display: inline-block;
      width: 49%;
    }
    .nefo-article-teaser-date {
      display: inline-block;
      width: 49%;
      text-align: right;
    }
  }
}
.nefo-article-teaser-image-container {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .nefo-article-teaser-image-meta {
    margin-bottom: 1em;
    .nefo-article-teaser-image-caption,
    .nefo-article-teaser-image-credit {
      margin: 0;
      font-size: $credits-font-size;
      line-height: $credits-line-height;
      font-weight: 600;
    }
    .nefo-article-teaser-image-caption {
      margin-bottom: 4px;
    }
  }
}
.nefo-article-teaser-content-container {
  .nefo-article-teaser-event-date {
    margin-bottom: 0.7em;
    .date-display-range {
      display: inline;
    }
  }
  .nefo-article-teaser-synopsis {
  }
  .nefo-article-teaser-deadline {
  }
  .nefo-article-teaser-label {
    font-weight: 600;
  }
  .nefo-article-teaser-target-link {
    font-weight: normal;
  }
}
@include breakpoint($desk) {
  .nefo-article-teaser-wrapper {
    width: 100%;
    display: table;
    .nefo-article-teaser-image-container {
       display: table-cell;
       vertical-align: top;
       width: 246px;
       height: 138px;
       img {
         width: 100%;
         height: auto;
         margin-top: 4px;
         max-width: 246px;
         max-height: 138px;
       }
       .nefo-article-teaser-image-meta {
         display: none;
       }
    }
    .nefo-article-teaser-content-container {
      display: table-cell;
      vertical-align: top;
      padding-left: 1em;
    }
  }
}
// Videos
.nefo-article-teaser-video-wrapper {
  @include breakpoint(max-width ($desk - 1)) {
    .file-video-oembed iframe {
      width: 100%;
      max-width: 100%;
    }
  }
  .nefo-article-teaser-content-container {
    display: block;
    padding: 0;
  }
}


// Table
.views-table {
  width: 100%;
  margin: $vert-spacing-unit 0;
  th {
    background: none repeat scroll 0 0 $table-th-bg-color;
    font-weight: bold;
    padding: 1em;
  }
  td, th {
    vertical-align: middle;
    padding: 8px 10px;
    border: 0;
  }
  tr {
    border: 1px;
  }
  tr.even, tr.odd {
    border-style: solid;
    border-color: $table-tr-border-color;
    background: $table-tr-even-bg-color;
    transition: all, 0.15s;
  }
  tr.odd {
      background: $table-tr-odd-bg-color;
  }
}

