// Page
.nefo-view-list-row {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1em;
    border-bottom: $separator-width solid $separator-color;
    clear: both;
}

.nefo-view-block-row {
  .nefo-view-block-image-thumbnail,
  .nefo-view-block-video-thumbnail {
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  .nefo-view-block-image-credit {
    font-size: $view-list-credit-font-size;
    font-weight: bold;
    margin-bottom: 4px;
  }
}

.nefo-view-block-nav-link-all {
  @include nefo-front-readmore-nav;
  text-align: right;
  a {
    @include nefo-front-readmore-nav-link;
  }
}

// Table
.views-table {
  width: 100%;
  margin: $vert-spacing-unit 0;
  th {
    background: none repeat scroll 0 0 $table-th-bg-color;
    font-weight: bold;
    padding: 1em;
  }
  td, th {
    vertical-align: middle;
    padding: 8px 10px;
    border: 0;
  }
  tr {
    border: 1px;
  }
  tr.even, tr.odd {
    border-style: solid;
    border-color: $table-tr-border-color;
    background: $table-tr-even-bg-color;
    transition: all, 0.15s;
  }
  tr.odd {
      background: $table-tr-odd-bg-color;
  }
}

