.page-node {
  .l-content {
    h1 {
      margin-bottom: 0;
    }
  }
}

.vud-widget-thumbs {
  margin: 0;
  margin-right: 10px;
  position: unset;
  float: unset;
  text-align: right;
  .vote-current-score,
  .voted-how {
    display: none;
  }
}

.vud-widget-thumbs {
  .up-score {
    border: 1px solid $vud-thumb-border-color;
    padding: 4px 8px;
    background-color: $vud-thumb-bg-color;
    border-radius: 8px;
  }
  .down-score {
    margin-left: 1px;
    border: 1px solid $vud-thumb-border-color;
    padding: 4px 8px;
    background-color: $vud-thumb-bg-color;
    border-radius: 8px;    
  }
}