.block--nefo-blocks-builder-nefo-feature-map .feature-map-text .btn--blue {
  border-radius: 4px;
  display: table;
  height: 40px;
  width: 180px; }
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-text .btn--blue > a {
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none; }

.block--nefo-blocks-builder-nefo-feature-map h3,
.block--nefo-blocks-builder-nefo-feature-map p,
.block--nefo-blocks-builder-nefo-feature-map .btn {
  margin: 0;
  margin-top: 10px; }

.block--nefo-blocks-builder-nefo-feature-map h2 {
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  display: inline-block;
  background-color: #40769f;
  color: white;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative; }

.block--nefo-blocks-builder-nefo-feature-map h3 {
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 0; }

.block--nefo-blocks-builder-nefo-feature-map img {
  display: block;
  width: 100%; }

.block--nefo-blocks-builder-nefo-feature-map .feature-map-text .btn--blue {
  background-color: #5091c7; }

@media (max-width: 479px) {
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-img {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-text {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-text h2 {
      display: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-text h3 {
      display: none; }
  .block--nefo-blocks-builder-nefo-feature-map img {
    display: none; } }

@media (min-width: 480px) and (max-width: 639px) {
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-img {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-text {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-text h2 {
      display: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-text h3 {
      display: none; }
  .block--nefo-blocks-builder-nefo-feature-map img {
    max-height: 240px; } }

@media (min-width: 640px) and (max-width: 767px) {
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-img {
    width: 32.78689%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-img img {
      min-height: 176px; }
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-text {
    width: 65.57377%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-top: 80px; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-text h2 {
      display: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-text h3 {
      display: none; } }

@media (min-width: 768px) and (max-width: 979px) {
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-img {
    width: 59.40594%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-img h2 {
      display: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-img h3 {
      display: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-img img {
      min-height: 290px; }
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-text {
    width: 39.60396%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-text h3 {
      margin-top: 0; } }

@media (min-width: 980px) {
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-img {
    width: 64.51613%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-img h2 {
      display: none; }
    .block--nefo-blocks-builder-nefo-feature-map .feature-map-img h3 {
      display: none; }
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-text {
    width: 32.25806%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.nefo-map-page-wrapper {
  background-color: #eff4f8; }

.nefo-map-search-form-wrapper {
  margin-left: 1em;
  margin-bottom: 1em; }
  @media (min-width: 480px) and (max-width: 979px) {
    .nefo-map-search-form-wrapper {
      float: left;
      margin: 0 1em; } }
  @media (min-width: 980px) {
    .nefo-map-search-form-wrapper {
      float: left;
      margin: 0 1em; } }

.nefo-map-simple-fieldset,
.nefo-map-extended-fieldset {
  margin-top: 1em; }

.nefo-map-simple-fieldset .fieldset-legend,
.nefo-map-extended-fieldset .fieldset-legend {
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  display: inline-block;
  background-color: #40769f;
  color: white;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-bottom: 0; }

.nefo-map-simple-fieldset select,
.nefo-map-extended-fieldset select,
.nefo-map-simple-fieldset input {
  width: 200px; }
  @media (max-width: 479px) {
    .nefo-map-simple-fieldset select,
    .nefo-map-extended-fieldset select,
    .nefo-map-simple-fieldset input {
      width: 90%; } }

.nefo-map-simple-fieldset .form-item,
.nefo-map-extended-fieldset .form-item {
  margin-bottom: 0; }

.nefo-map-simple-fieldset .form-checkbox {
  width: 16px; }

.nefo-map-simple-fieldset label {
  font-weight: bold; }

#nefo-map-form-action .form-submit {
  margin-top: 1em; }

.nefo-map-table-wrapper {
  clear: both; }

#nefo-map-table-result-list {
  margin-top: 3em;
  width: 100%; }

#nefo-map-table-result-list caption {
  font-size: 16px;
  line-height: 1.6; }

#nefo-map-table-result-list th {
  font-size: 16px;
  line-height: 1.6;
  background-color: #a9c041; }
  #nefo-map-table-result-list th a {
    text-decoration: none; }
  #nefo-map-table-result-list th a {
    color: white; }

#nefo-map-table-result-list th:first-child,
#nefo-map-table-result-list td:first-child {
  padding-left: 1em; }

#nefo-map-table-result-list th:last-child,
#nefo-map-table-result-list td:last-child {
  padding-right: 1em; }

#nefo-map-table-result-list td {
  font-size: 14px;
  line-height: 28px; }

#nefo-map-table-result-list td.active {
  background-color: inherit; }

#nefo-map-table-result-list tr.odd {
  background-color: #E0E0E0; }

#nefo-map-table-result-list tr.even {
  background-color: #EEE; }

.nefo-map-pager-wrapper {
  padding: 0.5em 0;
  background-color: white; }

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499;
  /* was 1000 */
  pointer-events: none; }

a.nefo-subdivision-l,
a.forschungsatlas-subdivision-l {
  padding-right: 1em; }

a.nefo-institution-l-ext,
a.forschungsatlas-institution-l-ext {
  background-image: url("../../../images/icons/external-link.png");
  background-repeat: no-repeat;
  background-position: center right;
  padding-left: 1em;
  padding-right: 16px;
  font-size: 12px;
  font-style: italic; }
