.block--nefo-blocks-builder-nefo-feature-map .feature-map-text .btn--blue {
  border-radius: 4px;
  display: table;
  height: 40px;
  width: 180px; }
  .block--nefo-blocks-builder-nefo-feature-map .feature-map-text .btn--blue > a {
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none; }

@media (max-width: 640px) {
  .block--nefo-blocks-builder-nefo-feature-map {
    margin-top: 40px; } }

.block--nefo-blocks-builder-nefo-feature-map .btn {
  margin: 0;
  margin-top: 20px; }

.block--nefo-blocks-builder-nefo-feature-map h2 {
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  display: inline-block;
  background-color: #40769f;
  color: white;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative; }

.block--nefo-blocks-builder-nefo-feature-map h3 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  visibility: hidden; }

.block--nefo-blocks-builder-nefo-feature-map img {
  display: block;
  width: 100%;
  margin-bottom: 10px; }

.block--nefo-blocks-builder-nefo-feature-map p {
  display: none; }

.block--nefo-blocks-builder-nefo-feature-map .feature-map-text .btn--blue {
  background-color: #5091c7; }

.nefo-map-page-wrapper {
  background-color: #eff4f8; }

.nefo-map-search-form-wrapper {
  margin-left: 1em;
  margin-bottom: 1em; }
  @media (min-width: 480px) and (max-width: 979px) {
    .nefo-map-search-form-wrapper {
      float: left;
      margin: 0 1em; } }
  @media (min-width: 980px) {
    .nefo-map-search-form-wrapper {
      float: left;
      margin: 0 1em; } }

.nefo-map-simple-fieldset,
.nefo-map-extended-fieldset {
  margin-top: 1em; }

.nefo-map-simple-fieldset .fieldset-legend,
.nefo-map-extended-fieldset .fieldset-legend {
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  display: inline-block;
  background-color: #40769f;
  color: white;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-bottom: 0; }

.nefo-map-simple-fieldset select,
.nefo-map-extended-fieldset select,
.nefo-map-simple-fieldset input {
  width: 200px; }
  @media (max-width: 479px) {
    .nefo-map-simple-fieldset select,
    .nefo-map-extended-fieldset select,
    .nefo-map-simple-fieldset input {
      width: 90%; } }

.nefo-map-simple-fieldset .form-item,
.nefo-map-extended-fieldset .form-item {
  margin-bottom: 0; }

.nefo-map-simple-fieldset .form-checkbox {
  width: 16px; }

.nefo-map-simple-fieldset label {
  font-weight: bold; }

#nefo-map-form-action .form-submit {
  margin-top: 1em; }

.nefo-map-table-wrapper {
  clear: both; }

#nefo-map-table-result-list {
  margin-top: 4em;
  width: 100%;
  border: 1px solid #BE7; }

#nefo-map-table-result-list caption {
  font-size: 16px;
  line-height: 1.6; }

#nefo-map-table-result-list th {
  font-size: 16px;
  line-height: 1.6;
  background-color: #a9c041; }
  #nefo-map-table-result-list th a {
    text-decoration: none; }
  #nefo-map-table-result-list th a {
    color: white; }

#nefo-map-table-result-list th:first-child,
#nefo-map-table-result-list td:first-child {
  padding-left: 1em; }

#nefo-map-table-result-list th:last-child,
#nefo-map-table-result-list td:last-child {
  padding-right: 1em; }

#nefo-map-table-result-list td {
  font-size: 14px;
  line-height: 2;
  padding: 0.5em 0; }

#nefo-map-table-result-list td.active {
  background-color: inherit; }

#nefo-map-table-result-list tr.odd {
  background-color: #F8FFF0; }

#nefo-map-table-result-list tr.even {
  background-color: #F9FED9; }

a.forschungsatlas-institution-l {
  color: #336699;
  text-decoration: none;
  font-weight: 500; }
  a.forschungsatlas-institution-l:hover {
    text-decoration: underline; }

.nefo-map-pager-wrapper {
  padding: 0.5em 0;
  background-color: white; }

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 499;
  pointer-events: none; }

#forschungsatlas-institution {
  padding: 1em .5em; }

#forschungsatlas-institution-abbrev {
  padding: 0; }

#forschungsatlas-institution-abbrev,
#forschungsatlas-institution-url,
#forschungsatlas-institution-orgtype,
#forschungsatlas-institution-changed {
  display: table; }
  #forschungsatlas-institution-abbrev .forschungsatlas-institution-h,
  #forschungsatlas-institution-abbrev .forschungsatlas-institution-c,
  #forschungsatlas-institution-url .forschungsatlas-institution-h,
  #forschungsatlas-institution-url .forschungsatlas-institution-c,
  #forschungsatlas-institution-orgtype .forschungsatlas-institution-h,
  #forschungsatlas-institution-orgtype .forschungsatlas-institution-c,
  #forschungsatlas-institution-changed .forschungsatlas-institution-h,
  #forschungsatlas-institution-changed .forschungsatlas-institution-c {
    display: table-cell; }
  #forschungsatlas-institution-abbrev .forschungsatlas-institution-h,
  #forschungsatlas-institution-url .forschungsatlas-institution-h,
  #forschungsatlas-institution-orgtype .forschungsatlas-institution-h,
  #forschungsatlas-institution-changed .forschungsatlas-institution-h {
    padding-right: 1em; }

#forschungsatlas-institution-url a {
  color: #336699;
  text-decoration: none; }
  #forschungsatlas-institution-url a:hover {
    text-decoration: underline; }

#forschungsatlas-institution-belonging,
#forschungsatlas-institution-subdivision {
  margin-top: .5em; }

a.nefo-subdivision-l,
a.forschungsatlas-subdivision-l {
  padding-right: 1em;
  color: #336699;
  text-decoration: none; }
  a.nefo-subdivision-l:hover,
  a.forschungsatlas-subdivision-l:hover {
    text-decoration: underline; }

a.nefo-institution-l-ext,
a.forschungsatlas-institution-l-ext {
  background-image: url("../../../images/icons/external-link.png");
  background-repeat: no-repeat;
  background-position: center right;
  padding-left: 1em;
  padding-right: 16px;
  font-size: 12px;
  font-style: italic;
  color: #336699;
  text-decoration: none; }
