$nav-top-menu-color: hsl(206, 42.36%, 44.90%);    //#4379a3
$header-login: hsl(90, 40.16%, 49.80%);
$header-bg: hsl(0, 0.00%, 97.65%);
$nefo-n: hsl(90, 40.32%, 48.63%);                 //#7daf4b
$nefo-e: hsl(71, 50.20%, 50.39%);                 //#a8bf40
$nefo-f: hsl(206, 42.60%, 43.73%);                //#4077a0
$nefo-o: hsl(207, 51.52%, 54.71%);                //#5192c8
$separator-color: hsl(0, 0.00%, 87.84%);
$h2-bg: hsl(206, 42.60%, 43.73%);
$h2-text: hsl(0, 0.00%, 100.00%);
$text-color: hsl(0, 0.58%, 33.92%);
$events-bg: hsl(90, 40.32%, 48.63%);
$footer-text-color: hsl(206, 42.36%, 44.90%);
$footer-header-text: hsl(0, 0.00%, 7.84%);
$button-text-white : hsl(0, 0.00%, 100.00%);

// TB Megamenu
$navigation-border-color: #A9C041;
$navigation-bg-color: #5295CC;
$navigation-shadow-color: #7cae4a;
$main-menu-bg-color: #5295CC;
$main-menu-bg-hover-color: #B9CC66;
$main-menu-color: #FFF;
$main-menu-hover-color: #FFF;
$main-menu-bg-active-color: #A9C041;
$main-menu-hover-active-color: #FFF;
$dropdown-bg-color: #A9C041;
$dropdown-color: #FFF;
$dropdown-hover-color: #FFF;
$dropdown-active-color: #FFF;

// Table
$table-th-color: rgba(0, 0, 0, 0.75);
$table-th-link-color: #FFF;
$table-th-bg-color: #A9C041;
$table-border-color: #7cae4a;//#A9C041;
$table-tr-border-color: #DDD;
$table-tr-even-bg-color: #F3F4EE;
$table-tr-odd-bg-color: #FFF;

// Thumbs
$vud-thumb-border-color: #A9C041;
$vud-thumb-bg-color: #F8FECD;

