// H1-H6 tags
// see http://www.w3schools.com/tags/tag_hn.asp
$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 13px;
$h6-font-size: 11px;

// Paragraph
$p-font-size: 16px;

// View list
$view-list-title-font-size: 16px;
$view-list-title-line-height: 1.6;
$view-list-desc-font-size: 14px;
$view-list-desc-line-height: 1.4;
$view-list-date-font-size: 14px;
$view-list-date-line-height: 1.4;
$view-list-caption-font-size: 12px;
$view-list-caption-line-height: 1.2;
$view-list-credit-font-size: 12px;
$view-list-credit-line-height: 1.2;

$tagclouds-term-line-height: 2.0;