// H1-H6 tags
// see http://www.w3schools.com/tags/tag_hn.asp
$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 13px;
$h6-font-size: 11px;
// Mobile
$h1-font-size-mobile: 20px;
$h2-font-size-mobile: 18px;
$h3-font-size-mobile: 16px;
// Tab
$h1-font-size-tab: 24px;
$h2-font-size-tab: 20px;
$h3-font-size-tab: 18px;

// Paragraph
$p-font-size: 16px;

// Teasers
$date-font-size: 14px;
$date-line-height: 1.4;
$credits-font-size: 12px;
$credits-line-height: 1.2;



//// View list
$view-list-title-font-size: 16px;
$view-list-title-line-height: 1.6;
$view-list-desc-font-size: 14px;
$view-list-desc-line-height: 1.4;
$view-list-date-font-size: 14px;
$view-list-date-line-height: 1.4;
$view-list-caption-font-size: 12px;
$view-list-caption-line-height: 1.2;
$view-list-credit-font-size: 12px;
$view-list-credit-line-height: 1.2;

// tagClouds
$tagclouds-term-line-height: 2.0;

// Images
$caption-font-size: 12px;
$caption-line-height: 1.2;
$credit-font-size: 12px;
$credit-line-height: 1.2;

// Footer
$footer-font-size: 12px;

// Hamburger menu
$hamburger-font-size: 24px;
