// H1-H6 tags
// see http://www.w3schools.com/tags/tag_hn.asp
$h1-font-sizes: (
  null  : 20px,
  $tablet-width : 24px,
  $desktop-width: 32px
);
$h2-font-sizes: (
  null  : 18px,
  $tablet-width : 20px,
  $desktop-width: 24px
);
$h3-font-sizes: (
  null  : 16px,
  $tablet-width : 18px,
  $desktop-width: 20px
);
$h4-font-size: 16px;
$h5-font-size: 13px;
$h6-font-size: 11px;

// Paragraph
$p-font-size: 16px;
$p-line-height: 1.6;

// Teasers
$date-font-size: 14px;
$date-line-height: 1.4;
$credits-font-size: 12px;
$credits-line-height: 1.2;

// tagClouds
$tagclouds-term-line-height: 2.0;

// Images
$caption-font-size: 12px;
$caption-line-height: 1.2;
$credit-font-size: 12px;
$credit-line-height: 1.2;

// Footer
$footer-font-size: 12px;

// Hamburger menu
$hamburger-font-size: 24px;
