// Global
$mobile: 20em;
$tab: 44em;
$desk: 70em;

@include add-grid(8);
@include add-grid(8 at $tab);
@include add-grid(12 at $desk);

@include add-gutter(1/3);

//@include sgs-change('output', 'float');

$vert-spacing-unit: 20px;



