// Break points
$tablet-width: 480px;
$tablet-width-2: 640px;
$tablet-width-3: 768px;
$desktop-width: 980px;
$desktop-width-2: 1123px;

$max-screen-width: 1133px;

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;
$horz-spacing-desk: 20px;

////////////////////////////////////////


$main-font-size: 16px;

$separator-width: 2px;

$mobile-content-margin: 10px;

// Images
//$image-block-width: 360px;
$image-block-width: 480px;
$image-block-height: 270px;
$image-block-width-interview: 430px;
$image-document-icon-width: 150px;
$image-document-icon-height: 225px;
