body {
  max-width: $max-screen-width;
  margin: 0 auto;
  font-family: ProximaNova, sans-serif;
  font-size: $main-font-size;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

/* The order here is important. Bold styles have to come last */
/* first for IE 4–8 */
@font-face {
  font-family: ProximaNova;
  src: url("../assets/ProximaNova-RegularWeb.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ProximaNova;
  src: url("../assets/ProximaNova-RegularWeb.woff") format("woff");
}

/* first for IE 4–8 */
@font-face {
  font-family: ProximaNova;
  src: url("../assets/ProximaNova-BoldWeb.eot");
  font-weight: bold;
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: ProximaNova;
  src: url("../assets/ProximaNova-BoldWeb.woff") format("woff");
  font-weight: bold;
}




// H1-H6 tags
// see http://www.w3schools.com/tags/tag_hn.asp
h1 {
  font-size: $h1-font-size;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
h2 {
  font-size: $h2-font-size;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
h3 {
  font-size: $h3-font-size;
  margin-top: 1em;
  margin-bottom: 1em;
}
h4 {
  font-size: $h4-font-size;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}
h5 {
  font-size: $h5-font-size;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}
h6 {
  font-size: $h6-font-size;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}
// Mobile
@include breakpoint($mobile) {
  h1 {
    font-size: $h1-font-size-mobile;
  } 
  h2 {
    font-size: $h2-font-size-mobile;
  } 
  h3 {
    font-size: $h3-font-size-mobile;
  }  
}
// Tab
@include breakpoint($tab) {
  h1 {
    font-size: $h1-font-size-tab;
  } 
  h2 {
    font-size: $h2-font-size-tab;
  } 
  h3 {
    font-size: $h3-font-size-tab;
  }  
}



p {
  font-size: $p-font-size;
  line-height: 1.6;
  font-weight: 300;
  color: black;
  margin-top: 0em;
  margin-bottom: 0.7em;
  text-align: left;
}

strong {
  font-weight: bold; 
}

em, i {
  font-style:italic;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; 
}

li {
  display: list-item;
  margin-bottom: 0.7em;
  font-size: $p-font-size;
}

// Headings
h1,
h2,
h3,
h4 {
  &>a {
    text-decoration: none;
    color: inherit;
  }
}

// Submitted 
.submitted {
  margin-bottom: 1em;
  font-size: $view-list-date-font-size;
  line-height: $view-list-date-line-height;
}

// Links
.not-front {
  .block__content a[href],
  .node__content a[href],
  .taxonomy-term__content a[href],
  .view-content a[href],
  .node--blog--teaser a[href] {
    color: $nefo_f;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .tagclouds-term a[href] {
    color: $nefo_f;
  }
}

// Box
.l-region--atlas,
.l-region--news,
.l-region--misc,
.l-region--products,
.l-region--studies,
.block--views-nefo-view-block-interview-block,
.block--views-nefo-block-press-release-block,
.block--views-nefo-block-article-block {
  @include block;
}

.nefo-link-back-list-all {
  margin: 1em 0;
  padding-top: 8px;
  border-top: $separator-width solid $separator-color;
  a {
    background-image: url("../images/arrow-right-more.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
    vertical-align: middle;    
  }
}
.nefo-target-url {
}
