.l-branding {
  padding: 5px 10px;
  img {
    width: 80%;
    max-width: 450px;
  }
  @include breakpoint($mobile) {
    position: fixed;
    background-color: $header-bg;
    z-index: 1000000;
    top: 0px;
    padding: 8px 10px;
  }  
  @include breakpoint($tab) {
    
  }
  @include breakpoint($desk) {
    padding-left: (2 * $horz-spacing-desk);
  }
}

.l-region--branding {
  // Mobile
  @include breakpoint($mobile, true) {
    display: inline-block;
    float: right;
  }
  // Tab
  @include breakpoint($tab, true) {
    display: inline-block;
    float: right;
  }
  // Desktop
  @include breakpoint($desk, true) {
    display: none;
  }
}