// MAIN

.l-main {
  margin-bottom: $vert-spacing-unit;
}

// Content
.l-content {
  @include breakpoint($mobile) {
    padding: 0 $horz-spacing-unit;
  }  
  @include breakpoint($tab) {
    padding: 0 $horz-spacing-unit;
  }
  @include breakpoint($desk) {
    padding: 0 $horz-spacing-desk;
  }
}


/*
.l-content {
  @include breakpoint($desk, true) {
    margin-top: $content-top-margin;
  }
}
*/

// Images
.file-image {
  margin: $vert-spacing-unit 0;
  max-width: 100%;
  img {
    padding-bottom: 8px;
    max-width: 100%;
  }
  .field--name-field-image-caption-text > div > div {
    font-size: $caption-font-size;
    line-height: $caption-line-height;
  }
  .field--name-field-file-image-credit-text > div > div {
    font-size: $credit-font-size;
    line-height: $credit-line-height;    
  }
}

// File icons 
.file-icon {
  padding-right: 4px;
}

.nefo-ckeditor-inline-container {
  display: block;
  font-size: $p-font-size;
  line-height: 1.6;
  font-weight: 300;
  color: black;
  text-align: left;
  margin-top: 0em;
  margin-bottom: 0.7em;
  .media-element-container {
    display: inline;
    .file-document {
      display: inline;
      .content {
        display: inline;
      }
    }
  }
}
