// SIDEBAR
.l-region--sidebar > .block {
  @extend %block;
}
.l-region--sidebar {
  margin-top: $vert-spacing-unit;
  @include breakpoint($mobile) {
    padding: 0 $horz-spacing-unit;
  }
  /*  
  @include breakpoint($tab) {
    padding: 0 $horz-spacing-unit;
  }
  @include breakpoint($desk) {
    padding: 0 $horz-spacing-desk;
  }
  */
}

