@import 'singularitygs';
@import 'breakpoint';
@import 'bourbon';

@import '../../variables/variables';
@import '../../variables/colors';
@import '../../variables/sizes';
@import '../../variables/fonts';
@import '../../abstractions/mixins';
@import '../../components/_buttons.scss';


.view-view-researcher-profile {
  .table {
    display: table;
    border-collapse: separate;
    border-spacing: 20px;
  }
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    position: relative;
  }

  .views-field-field-researcher-fascinated,
  .views-field-field-researcher-important,
  .views-field-field-researcher-deficit {
    margin-left: 210px;
  }

  .researcher-col1 {
    width: 200px;
    float:left;

    .field-researcher-www,
    .field-researcher-twitter,
    .field-researcher-linkedin {
      display: inline;

      a {
        color: $text-color;
      }
    }
  }
}

.l-region--sidebar {
  background-color: rgb(239,244,248);
  padding-left: 50px;
  padding-right: 20px;

  #block-researcher-contact,
  #block-researcher-signup {
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;

    .block__content p {
      color: white;
      font-weight: bold;
      text-align: center;
    }
    .button {
      @include button--blue;
      margin: 0 auto;
    }
  }

  #block-researcher-contact {
    background-color: $nefo-e;
  }
  #block-researcher-signup {
    background-color: $nefo-f;
  }

  .views-exposed-form {
    #edit-freetext-search {
      width: 100%;
    }
  }

}


.has-one-sidebar {
  //.l-main {
  //  @include grid-span(1, 1);
  //}
  @include layout($grid: 1 3, $gutter: 0) {
    .l-content {
      @include grid-span(1, 2);
    }
    .l-region--sidebar {
      @include grid-span(1, 1);
    }
  }
}
