@mixin nefo-heading {
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  display: inline-block;
  background-color: $h2-bg;
  color: $h2-text;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 20px;
}

@mixin blackoverlay {
  content: " ";
  width: 100%;
  //height: 100px;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

@mixin block {
  position: relative;
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(229,229,229);
  //@include filter-gradient(#03207c, #1e5799, vertical); // IE6-9
  @include background-image(linear-gradient(bottom,
          rgba(243,243,243,1) 0px,
          rgba(243,243,243, 0.01) 40px));

  h2.block__title {
    @include nefo-heading;
  }
}

@mixin no-style-link {
  a {
    text-decoration: none;
  }
}

@mixin nefo-front-readmore-nav {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@mixin nefo-front-readmore-nav-link {
  color: $h2-bg;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-image: url("../images/arrow-right-more.jpg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
}

@mixin nefo-front-readmore-nav-button {
  background-color: $nefo-n;
  border-radius: 4px;
  padding: 0.5em 2em;
  & > a {
    color: $more-button-text;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
  }
}

@mixin nefo-front-study-block {
  align-items: stretch;
  font-size: $view-list-title-font-size;
  line-height: $view-list-title-line-height;
  background-color: $h2-bg;
  height: 8em;
  padding: 1em;
  a {
    color: white;
    text-decoration: none;
  }
}

@mixin nefo-top-menu-link {
  color: $nav-top-menu-color;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

