// Import variables, abstractions, base styles and components.
@import 'singularitygs';
@import 'breakpoint';
@import 'bourbon';

@import '../../variables/colors-hsl';
@import '../../variables/fonts';
@import '../../variables/sizes';
@import '../../variables/variables';

@import '../../abstractions/mixins';

@import '../../components/sidebar';


// Sidebar
.page-node {
  @include breakpoint($tab, true) {
    @include layout($grid: 8 4) {
      .l-content {
        @include grid-span(1, 1);
      }
      .l-region--sidebar {
        @include grid-span(1, 2);
      }
    }
  }

  .l-region--sidebar {
    padding-top: $vert-spacing-unit;
  }
}
