// Import external libraries.
@import "breakpoint";
@import "singularitygs";
@import "bourbon";
//@include sgs-change('debug', true);
// Import variables.
@import "../../variables/grid";


// Drupal defined
.l-page{
  margin: 0 auto;
  width: 100%;
  //@include background-grid($color: blue);
}
.l-main{
  padding: $vert-spacing-unit 0;
}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: $vert-spacing-unit;
}

// Custom
.nefo-header-wrapper,
.nefo-main-wrapper,
.nefo-footer-wrapper {
  width: 100%;
  @include clearfix;
}

.l-nefo-postscript {
    @include clearfix;
}


/**
 * Mobile
 */
.l-header,
.l-main,
.l-footer,
.l-nefo-postscript,
.l-nefo-footer {
        width: ($mobile);
        margin: 0px auto;
}

.l-branding {
        @include grid-span(2,1);
        height: 100px;
        @include clearfix;
}
.l-region--nefo-login {
        @include grid-span(2,3);
}
.l-region--nefo-top-menu {
        @include grid-span(3,5);
}
.l-region--nefo-laguage {
        @include grid-span(1,8);
}

.l-region--nefo-main-menu {
        @include grid-span(2,3);
}
.l-region--nefo-search {
        @include grid-span(4,5);
}



.l-content {
        @include grid-span(8,1);
}
    
.l-region--nefo-postscript{
        @include grid-span(8,1);
}
    
.l-region--nefo-footer-first{
        @include grid-span(4,1);
}
.l-region--nefo-footer-second{
        @include grid-span(4,5);
}
.l-region--nefo-footer-third{
        @include grid-span(4,1,$output-style: 'float');
        clear:both;
}
.l-region--nefo-footer-fourth{
        @include grid-span(4,5);
}
.l-region--nefo-footer-fifth{
        @include grid-span(4,1,$output-style: 'float');
        clear:both;
}
.l-region--nefo-footer-sixth{
        @include grid-span(4,5);
}
.l-region--footer{
        @include grid-span(8,1);
}



/**
 * Tab
 */
@include breakpoint($tab, true) {
    .l-header,
    .l-main,
    .l-footer,
    .l-nefo-postscript,
    .l-nefo-footer {
            width: ($tab);
            margin: 0px auto;
    }

    .l-branding {
            @include grid-span(4,1);
            @include clearfix;
    }
    .l-region--nefo-login {
            @include grid-span(1,5);
    }
    .l-region--nefo-top-menu {
            @include grid-span(2,6);
    }
    .l-region--nefo-laguage {
            @include grid-span(1,8);
    }    

    .l-region--nefo-main-menu {
            @include grid-span(1,5,$output-style: 'float');
    }
    .l-region--nefo-search {
            @include grid-span(3,6,$output-style: 'float');
    }
    

    .l-content {
            @include grid-span(8,1);
    }
    
    .l-region--nefo-postscript{
            @include grid-span(8,1);
    }
    
    .l-region--nefo-footer-first{
            @include grid-span(3,1);
    }
    .l-region--nefo-footer-second{
            @include grid-span(3,4);
    }
    .l-region--nefo-footer-third{
            @include grid-span(2,7);
    }
    .l-region--nefo-footer-fourth{
            @include grid-span(3,1,$output-style: 'float');
            clear:both;
    }
    .l-region--nefo-footer-fifth{
            @include grid-span(3,4,$output-style: 'float');
    }
    .l-region--nefo-footer-sixth{
            @include grid-span(2,7,$output-style: 'float');
    }
    .l-region--footer{
            @include grid-span(8,1);
    }
}


/**
 * Desktop
 */
@include breakpoint($desk, true) {
    .l-header,
    .l-main,
    .l-footer,
    .l-nefo-postscript,
    .l-nefo-footer {
            width: ($desk);
            margin: 0px auto;
            @include clearfix;
    }
    
    .l-branding {
            @include grid-span(5,1);
    }
    .l-region--nefo-login {
            @include grid-span(1,6);
    }
    .l-region--nefo-top-menu {
            @include grid-span(3,7);
    }
    .l-region--nefo-laguage {
            @include grid-span(1,10);
    }
    .l-region--nefo-search {
            @include grid-span(2,11);
    }
    .l-region--nefo-main-menu {
            @include grid-span(12,1);
            clear: both;
    }

    .l-content {
            @include grid-span(12,1);
    }

    .has-sidebar-first {
        .l-content {
          @include grid-span(9,4);
        }
        .l-region--sidebar-first {
          @include grid-span(3,1);
        }
    }
    .has-sidebar-second {
        .l-content {
          @include grid-span(9,1);
        }
        .l-region--sidebar-second {
          @include grid-span(3,10);
          clear: none;
        }
    }
    
    .has-two-sidebars {
        .l-region--sidebar-first {
          @include grid-span(3,1);
        }
        .l-content {
          @include grid-span(6,4);
        }
        .l-region--sidebar-second {
          @include grid-span(3,10);
          clear: none;
        }
    }
    
    .l-region--nefo-postscript{
            @include grid-span(12,1);
    }
    
    .l-region--nefo-footer-first{
            @include grid-span(2,1);
    }
    .l-region--nefo-footer-second{
            @include grid-span(2,3);
    }
    .l-region--nefo-footer-third{
            @include grid-span(2,5);
    }
    .l-region--nefo-footer-fourth{
            @include grid-span(2,7);
    }
    .l-region--nefo-footer-fifth{
            @include grid-span(2,9);
    }
    .l-region--nefo-footer-sixth{
            @include grid-span(2,11);
    }
    .l-region--footer{
            @include grid-span(12,1);
    }
}



