@media (min-width: 540px) {
  .has-sidebar .l-content,
  .has-one-sidebar .l-content {
    width: 65.30612%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-sidebar .l-region--sidebar,
  .has-one-sidebar .l-region--sidebar {
    width: 32.65306%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.has-sidebar .l-region--sidebar,
.has-one-sidebar .l-region--sidebar {
  padding-top: 20px; }
