.nefo-sidebar-banner {
  margin-top: 65px; }
  .nefo-sidebar-banner .nefo-sidebar-banner-row {
    width: 100%;
    padding: 0;
    color: #575656;
    text-transform: uppercase;
    height: 64px; }
  .nefo-sidebar-banner .nefo-sidebar-banner-row-img {
    line-height: 64px;
    vertical-align: middle; }
    .nefo-sidebar-banner .nefo-sidebar-banner-row-img img {
      margin-top: 16px;
      width: 32px;
      height: 32px;
      border: 0; }
    .nefo-sidebar-banner .nefo-sidebar-banner-row-img a {
      text-decoration: none; }
  .nefo-sidebar-banner .nefo-sidebar-banner-row-link {
    line-height: 64px;
    vertical-align: top; }
    .nefo-sidebar-banner .nefo-sidebar-banner-row-link a {
      font-size: 12px;
      text-decoration: none;
      color: inherit;
      padding-left: 8px;
      vertical-align: middle; }
      @media (min-width: 768px) {
        .nefo-sidebar-banner .nefo-sidebar-banner-row-link a {
          font-size: 14px; } }
      .nefo-sidebar-banner .nefo-sidebar-banner-row-link a:hover {
        color: inherit; }
      .nefo-sidebar-banner .nefo-sidebar-banner-row-link a:visited {
        color: inherit; }

@media (min-width: 540px) {
  .has-sidebar .l-content,
  .has-one-sidebar .l-content {
    width: 65.30612%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-sidebar .l-region--sidebar,
  .has-one-sidebar .l-region--sidebar {
    width: 32.65306%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.has-sidebar .l-region--sidebar,
.has-one-sidebar .l-region--sidebar {
  padding-top: 20px; }
