.nefo-sidebar-banner {
  margin: 60px 0; }
  .nefo-sidebar-banner .nefo-sidebar-banner-col {
    width: 100%;
    margin: auto;
    padding: 0;
    color: #575656;
    text-transform: uppercase;
    height: 34px; }
  .nefo-sidebar-banner .nefo-sidebar-banner-col1 {
    position: relative;
    background-image: url("../../../images/icons/publikationen.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 32px;
    height: 100%; }
  .nefo-sidebar-banner .nefo-sidebar-banner-col2 {
    background-image: url("../../../images/icons/workshops.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 32px;
    height: 100%; }
  .nefo-sidebar-banner .nefo-sidebar-banner-col3 {
    background-image: url("../../../images/icons/newsletter.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 30px;
    height: 100%; }
  .nefo-sidebar-banner .nefo-sidebar-banner-col4 {
    background-image: url("../../../images/icons/blog.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 32px 32px;
    height: 100%; }
  .nefo-sidebar-banner .nefo-sidebar-banner-col-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: transparent; }
  .nefo-sidebar-banner a {
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    padding-left: 40px;
    vertical-align: middle; }
    @media (min-width: 768px) {
      .nefo-sidebar-banner a {
        font-size: 14px; } }
    .nefo-sidebar-banner a:hover {
      color: inherit; }
    .nefo-sidebar-banner a:visited {
      color: inherit; }

@media (min-width: 540px) {
  .has-sidebar .l-content,
  .has-one-sidebar .l-content {
    width: 65.30612%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-sidebar .l-region--sidebar,
  .has-one-sidebar .l-region--sidebar {
    width: 32.65306%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.has-sidebar .l-region--sidebar,
.has-one-sidebar .l-region--sidebar {
  padding-top: 20px; }
